/* ==================================================
  ** description
  type: element

================================================== */

.sage-description {
  margin-bottom: sage-spacing();

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sage-description__title {
  @extend %t-sage-body-small-semi;
  color: sage-color(charcoal, 300);
  text-transform: uppercase;
}

.sage-description__data {
  @extend %t-sage-body;
}
