/* ==================================================
  ** icon_card
  type: element

================================================== */

.sage-icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  padding: sage-spacing(lg);
  border-radius: sage-border(radius);

  [class*="sage-icon-"] {
    display: block;
  }
}

@each $-color, $-values in $sage-color-combos {
  $-subtle-values: map-get($-values, subtle);
  $-bold-values: map-get($-values, bold);

  .sage-icon-card--#{$-color} {
    color: sage-color-combo($-color, default, foreground-accent);
    background-color: sage-color-combo($-color, default, background);
  }

  .sage-icon-card--#{$-color}-subtle {
    color: sage-color-combo($-color, subtle, foreground-accent);
    border: 1px solid sage-color-combo($-color, subtle, background);
  }

  .sage-icon-card--#{$-color}-bold {
    color: sage-color-combo($-color, bold, foreground);
    background-color: sage-color-combo($-color, bold, background);
  }
}
