<!-- Side dictated by container -->
<div class="sage-billboard" style="background-image: url(<%= asset_pack_path(img) %>)">
  <div class="sage-billboard__content">
    <h5 class="sage-billboard__title">Billboard Title</h5>
    <p class="sage-billboard__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
