<div class="sage-row" style="height:500px">
  <div class="sage-col--md-6">
    <%= render "examples/objects/billboard/markup", img: "media/images/docs/billboard/background_1.jpg" %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/billboard/markup", img: "media/images/docs/billboard/background_2.jpg" %>
  </div>
</div><br />
<div class="sage-row" style="height:500px">
  <div class="sage-col--md-6">
    <%= render "examples/objects/billboard/markup", img: "media/images/docs/billboard/background_3.jpg" %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/billboard/markup", img: "media/images/docs/billboard/background_4.jpg" %>
  </div>
</div>
