<div class="sage-row" style="height:500px">
  <div class="sage-col--md-6">
    <%= sage_component SageBillboard, {
      img: asset_pack_path("media/images/docs/billboard/background_1.jpg"),
      message: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      title: "Title 1",
      title_tag: "h2"
    } %>
  </div>
  <div class="sage-col--md-6">
    <%= sage_component SageBillboard, {
      img: asset_pack_path("media/images/docs/billboard/background_2.jpg"),
      message: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      title: "Title 2"
    } %>
  </div>
</div><br />
<div class="sage-row" style="height:500px">
  <div class="sage-col--md-6">
    <%= sage_component SageBillboard, {
      img: asset_pack_path("media/images/docs/billboard/background_3.jpg"),
      message: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      title: "Title 3"
    } %>
  </div>
  <div class="sage-col--md-6">
    <%= sage_component SageBillboard, {
      img: asset_pack_path("media/images/docs/billboard/background_4.jpg"),
      message: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      title: "Title 4"
    } %>
  </div>
</div>
