<tr>
  <td>img</td>
  <td>Sets the <code>src</code> attribute for the component.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>message</td>
  <td>Sets the message text for the component.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>title</td>
  <td>Sets the title for the component.</td>
  <td>String</td>
  <td>null</td>
</tr>
