<%= sage_component SageButton, {
  value: "Open Drawer",
  style: "primary",
  html_attributes: {
    "data-js-modaltrigger": "test-drawer",
  },
} %>

<%= sage_component SageDrawer, {
  title: "Drawer Demo",
} do %>
  <% content_for :sage_drawer_content do %>
    <p>
      Sed maximus neque vitae magna facilisis, non finibus nulla malesuada.
      Aliquam hendrerit vitae nibh at lacinia.
      Pellentesque mauris ante, imperdiet nec scelerisque quis, fermentum a sapien.
      Curabitur varius fringilla risus vitae scelerisque.
    </p>
  <% end %>
<% end %>
