<tr>
  <td><%= md('`show_close`') %></td>
  <td><%= md('Toggles whether or not to show the default Close button including built-in dismiss functionality.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`true`') %></td>
</tr>
