<tr>
  <td><%= md('`all properties`') %></td>
  <td><%= md('The Drawer component uses the Modal component to display a drawer. See the documentation for <a href="/pages/component/modal">Modals</a> for more information.') %></td>
  <td><%= md('NA') %></td>
  <td><%= md('`NA`') %></td>
</tr>
