<h3 class="t-sage-heading-6">As a button with a target pane in mind</h3>
<%= sage_component SagePanelBlock, {} do %>
  <%= sage_component SageTab, {
      target: "example-tab1",
      text: "Page 1"
    }
  %>
<% end %>

<h3 class="t-sage-heading-6">As a link with a route or site in mind</h3>
<%= sage_component SagePanelBlock, {} do %>
  <%= sage_component SageTab, {
      attributes: {
        href: "//example.com",
      },
      text: "Page 1"
    }
  %>
<% end %>
