<tr>
  <td>compact</td>
  <td>Adjusts the vertical padding of component for smaller contexts</td>
  <td>boolean</td>
  <td><code>false</code></td>
</tr>
<tr>
  <td>icon</td>
  <td>Adds an icon above the content</td>
  <td>String</td>
  <td><code>null | icon-name</code></td>
</tr>
