<div class="sage-row">
  <div class="sage-col--md-6 example__block--lg">
    <%= sage_component SageLoader, {
      type: "bar"
    } %>
  </div>
  <div class="sage-col--md-6 example__block--lg">
    <%= sage_component SageLoader, {
      type: "spinner"
    } %>
  </div>
</div>
