<h2 class="t-sage-heading-6">Default</h2>
<%= sage_component SageProgressBar, {
  percent: 70,
  label: "Cloning product"
} %>

<h2 class="t-sage-heading-6">Custom color</h2>
<%= sage_component SageProgressBar, {
  color: SageTokens::COLOR_PALETTE[:ORANGE_300],
  percent: 100,
  label: "Reached limit"
} %>
