<div class="sage-sidebar" data-js-sidebar="example-sidebar-menu" id="example-sidebar-menu">
  <div class="sage-sidebar__body">
    <%= render body_content %>
  </div>
  <div class="sage-sidebar__footer">
    <%- if footer_content != "" -%>
    <%= render footer_content -%>
    <%- end -%>
  </div>
</div>