<%= sage_layout SageFrame, { direction: "horizontal" } do %>
  <%= sage_layout SageFrame, {
    width_ratio: "2",
    border: "default",
    border_radius: "md",
    padding: "md"
  } do %>
    <p>Ratio of "2"; This side is 2 / 3</p>
  <% end %>
  <%= sage_layout SageFrame, {
    width_ratio: "1",
    border: "default",
    border_radius: "md",
    padding: "md"
  } do %>
    <p>Ratio of "1"; This side is 1 / 3</p>
  <% end %>
<% end %>
