<%= sage_layout SageFrame, { direction: "horizontal" } do %>
  <%= sage_layout SageFrame, {
    width_ratio: "1",
    border: "default",
    border_radius: "md",
    padding: "md"
  } do %>
    <p>This element is 1 / 3, flexing with the other items.</p>
  <% end %>
  <%= sage_layout SageFrame, {
    width_ratio: "1",
    border: "default",
    border_radius: "md",
    padding: "md"
  } do %>
    <p>This element is 1 / 3, flexing with the other items.</p>
  <% end %>
  <%= sage_layout SageFrame, {
    width_ratio: "1",
    border: "default",
    border_radius: "md",
    padding: "md"
  } do %>
    <p>This element is 1 / 3, flexing with the other items.</p>
  <% end %>
<% end %>
