<dialog class="sage-modal" data-js-modal="cool-modal" aria-modal="true">
  <section class="sage-modal__container">
    <header class="sage-modal__header">
      <h1 class="t-sage-heading-4">Example Sage Modal</h1>
      <aside class="sage-modal__header-aside">
        <button class="sage-btn sage-btn--secondary sage-btn--subtle sage-btn--icon-only-dot-menu-horizontal">
          <span class="visually-hidden">Menu</span>
        </button>
      </aside>
    </header>
    <div class="sage-modal__content">
      <p class="t-sage-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <footer class="sage-modal__footer">
      <aside class="sage-modal__footer-aside">
        <button class="sage-btn sage-btn--subtle sage-btn--secondary" data-js-modal-close>Close Modal</button>
      </aside>
      <button class="sage-btn sage-btn--primary sage-btn--icon-left-check">Take An Action</button>
    </footer>
  </section>
</dialog>
