<%= sage_component SagePanelBlock, {} do %>
  <button class="sage-btn sage-btn--primary sage-btn--icon-right-launch" data-js-modaltrigger="cool-modal">Trigger Modal</button>
  <%= render "examples/objects/modal/markup" %>
<% end %>
