<tr>
  <td>id</td>
  <td>Unique identifier for component. Should match the <code>data-js-modaltrigge</code> property on the corresponding button</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>large</td>
  <td>Toggles whether to use the large variant of the modal by attaching <code>.sage-modal--large</code></td>
  <td>Boolean</td>
  <td>null</td>
</tr>
