<ul>
  <li>
    <p>When you want to deliver a powerful message, statement, or value proposition immediately upon a user a page or view.</p>
  </li>
  <li>
    <p>To provide a visually compelling first impression.</p>
  </li>
  <li>
    <p>For limited-time events or promotions, where the emphasis is timely and needs immediate attention.</p>
  </li>
</ul>
