<tr>
  <td>label</td>
  <td>The label to prepend in front of the number for the indicator in visually-hidden text.</td>
  <td>String</td>
  <td></td>
</tr>
<tr>
  <td>num_items</td>
  <td>The total number of items to display.</td>
  <td>Number</td>
  <td></td>
</tr>
<tr>
  <td>current_item</td>
  <td>The item that is "selected" in the indicator list.</td>
  <td>Number</td>
  <td></td>
</tr>