<h3 class="t-sage-heading-6">With menu button (visible below medium breakpoint)</h3>
<%= sage_component SageAssistant, {
  menu_button: true,
  logo: { path: "sage.svg" }
} %>

<h3 class="t-sage-heading-6">Without menu button</h3>
<%= sage_component SageAssistant, {
  menu_button: false,
  logo: { path: "sage.svg" }
} %>
