<h3 class="t-sage-heading-6">Default</h3>
<%= sage_component SageSearch, {
  id: "search-1",
  placeholder: "Search Products",
  value: nil,
  label_text: "Search"
} %>

<h3 class="t-sage-heading-6">Contained</h3>
<%= sage_component SageSearch, {
  id: "search-2",
  placeholder: "Search Products",
  value: nil,
  contained: true,
  label_text: "Search"
} %>
