<tr>
  <td><code>title</code></td>
  <td>Title text to be displayed</td>
  <td>String</td>
  <td>Default</td>
</tr>
<tr>
  <td><code>text</code></td>
  <td>Text description to be displayed</td>
  <td>String</td>
  <td>Default</td>
</tr>
<tr>
  <td><code>graphic</code></td>
  <td>Graphic to be displayed</td>
  <td>String</td>
  <td>Default</td>
</tr>
<tr>
  <td><code>reversed</code></td>
  <td>Allows content and graphic ordering to be reversed</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td><code>center-vertical</code></td>
  <td>Centers the null view vertically on page</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
