/* ==================================================
  ** banner
  type: object

================================================== */

$-banner-colors: (
  default: primary,
  secondary: grey,
  success: sage,
  warning: yellow,
  danger: red,
);

.sage-banner {
  @extend %t-sage-body-med;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  padding: sage-spacing(sm) sage-spacing(md);
  color: $sage-banner-text-color;
  background: sage-color(primary);
}

@each $name, $color in $-banner-colors {
  .sage-banner--#{$name} {
    background: sage-color($color, 300);

    @if ($name == "success") or ($name == "warning") or ($name == "secondary") {
      color: $sage-banner-text-color-dark;
    }
  }
}

.sage-banner--active {
  position: fixed;
  left: 0;
  top: 0;
  z-index: sage-z-index(priority);
}

.sage-banner__text {
  display: inline-flex;
  margin-bottom: 0;
  margin: 0 sage-spacing(xs);
  color: inherit;
}

.sage-banner__icon {
  display: inline-flex;
  align-self: center;
  height: $sage-banner-icon-size;
  width: $sage-banner-icon-size;
}

.sage-banner__link,
.sage-banner__close {
  color: inherit;
  text-decoration: underline;
}

.sage-banner__link--btn {
  margin-bottom: 0;
  text-decoration: none;
}
