/* ==================================================
  ** card DEPRECATED
  type: object


================================================== */

$-d-sage-card-shadow: sage-shadow(sm);
$-d-sage-card-radius: sage-border(radius);
$-d-sage-card-spacing: sage-spacing(md);
$-d-sage-card-spacing-2xl: sage-spacing(2xl);
$-d-sage-card-text-color: sage-color(charcoal, 200);

.d-sage-card {
  border-radius: $-d-sage-card-radius;
  box-shadow: $-d-sage-card-shadow;
  background-color: sage-color(white);

  &:not(:last-child) {
    margin-bottom: sage-spacing();
  }
}

.d-sage-card--compact {
  display: grid;
  grid-template-rows: minmax(0, auto) 1fr minmax(0, auto);
  grid-template-areas:
    "img title"
    "img body"
    "img foot";
}

.d-sage-card--spaced {
  padding: $-d-sage-card-spacing;
}

.d-sage-card__body {
  flex: 1;
  grid-area: body;
  padding: $-d-sage-card-spacing;

  .d-sage-card--spaced & {
    padding: 0;
  }

  .d-sage-card--center & {
    max-width: sage-container(modal);
    margin-left: auto;
    margin-right: auto;
  }

  .d-sage-card--spaced.d-sage-card--compact & {
    padding: 0 $-d-sage-card-spacing;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include clearfix;
}

.d-sage-card__footer {
  display: flex;
  grid-area: foot;
  align-items: center;
  justify-content: space-between;
  padding: 0 $-d-sage-card-spacing $-d-sage-card-spacing;

  > *:not(:last-child) {
    margin-right: rem(16px);
  }

  .d-sage-card--spaced & {
    padding: $-d-sage-card-spacing 0 0;
  }

  .d-sage-card--spaced.d-sage-card--compact & {
    padding: $-d-sage-card-spacing 0 0 $-d-sage-card-spacing;
  }
}

.d-sage-card__footer--align-left {
  justify-content: flex-start;
}

.d-sage-card__footer--align-right {
  justify-content: flex-end;
}

.d-sage-card__title {
  grid-area: title;
  margin: 0 0 rem(16px) 0;
  word-wrap: break-word;
}

.d-sage-card__text {
  margin-bottom: rem(16px);
  color: $-d-sage-card-text-color;
  word-wrap: break-word;
}

.d-sage-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: img;
  overflow: hidden;
  width: 100%;
  border-radius: $-d-sage-card-radius $-d-sage-card-radius 0 0;

  .d-sage-card--compact & {
    max-width: rem(216px);
    border-radius: $-d-sage-card-radius 0 0 $-d-sage-card-radius;
  }

  .d-sage-card--spaced & {
    margin: 0 0 $-d-sage-card-spacing 0;
    border-radius: $-d-sage-card-radius;
  }

  .d-sage-card--spaced.d-sage-card--compact & {
    max-width: rem(160px);
    margin: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: sage-breakpoint()) {
  .d-sage-card__img {
    width: 100%;
    min-width: 100%;

    .d-sage-card--compact & {
      border-radius: $-d-sage-card-radius $-d-sage-card-radius 0 0;
    }

    .d-sage-card--spaced.d-sage-card--compact & {
      border-radius: $-d-sage-card-radius;
    }
  }

  .d-sage-card--compact {
    display: block;
  }

  .d-sage-card__body {
    .d-sage-card--spaced.d-sage-card--compact & {
      padding: $-d-sage-card-spacing 0;
    }
  }

  .d-sage-card__footer {
    .d-sage-card--compact & {
      padding: 0 $-d-sage-card-spacing $-d-sage-card-spacing;
    }

    .d-sage-card--spaced.d-sage-card--compact & {
      padding: 0;
    }
  }
}
