/* ==================================================
  ** _nav.scss
  type: object

================================================== */
$-sage-nav-color-text: sage-color(charcoal, 400);
$-sage-nav-color-focus: sage-color(primary);
$-sage-nav-color-background: sage-color(primary, 400);

.sage-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sage-nav__link {
  display: flex;
  align-items: center;
  height: rem(32px);
  margin-bottom: rem(2px);
  padding: sage-spacing(2xs) sage-spacing(xs);
  color: $-sage-nav-color-text;
  border-radius: sage-border(radius);
  transition: $sage-transition;
  transition-property: background, box-shadow;

  &:not(.sage-nav__link--sub) {
    @extend %t-sage-body-med;
  }

  &:hover,
  &:focus {
    background: rgba($-sage-nav-color-background, 0.03);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px $-sage-nav-color-focus;
    outline: none;
  }

  &:active {
    background: rgba($-sage-nav-color-background, 0.12);
  }
}

.sage-nav__link--sub {
  padding-left: sage-spacing(sm);

  @extend %t-sage-body-small-med;
}

.sage-nav__link--active {
  background: rgba($-sage-nav-color-background, 0.06);
}

.sage-nav__link-decorator {
  display: inline-block;
  
  &:first-child {
    margin-right: sage-spacing(xs);
  }
  
  &:not(:first-child) {
    margin-left: sage-spacing(xs);
  }
}
