/* ==================================================
  ** sortable
  type: object


================================================== */

.sage-sortable {
  padding: sage-spacing(xs) 0 0;
}

.sage-sortable__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 sage-spacing(xs);
  padding: sage-spacing(xs) sage-spacing(xs) sage-spacing(xs) sage-spacing(sm);
  background: sage-color(white);
  border: sage-border();
  border-radius: sage-border(radius-large);
  transition: $sage-transition;
  transition-property: border-color, box-shadow;
  cursor: grab;

  &::before {
    @include sage-icon-base(handle);

    padding: 0 sage-spacing(sm) 0 0;
    color: sage-color(grey, 500);
  }

  &:focus,
  &:hover {
    box-shadow: sage-shadow(sm);

    &::before {
      color: sage-color(primary);
    }
  }

  &.sage-sortable__item--active,
  &:active {
    border-color: sage-color(primary);
    box-shadow: sage-shadow(md);
    cursor: grabbing;
  }

  &.sage-sortable__item--ghost {
    border-color: sage-color(grey, 500);
    opacity: 0.5;
  }
}

.sage-sortable__item-content {
  z-index: sage-z-index();
  overflow: hidden;
  width: 100%;
  list-style: none;

  > * {
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.sage-sortable__item-actions {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0 sage-spacing(xs) 0 sage-spacing(sm);
}
