<tr>
  <td><code>has_button</code></td>
  <td>When set to <code>true</code>, displays a button next to the text input</td>
  <td>Boolean</td>
  <td><code>true</code></td>
</tr>
<tr>
  <td><code>group_button_type</code></td>
  <td>This can be any allowed value from the list of types specified for the <a href="<%= pages_elements_path() %>#element-form_input" rel="nofollow">input element</a></td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td><code>group_button_style</code></td>
  <td>Can be styled using <code>sage-btn</code> classes. When left empty (default), displays an "unstyled" button (see password reveal example above).</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td><code>group_button_icon</code></td>
  <td>Accepts classname of icon using the button icon syntax, ex. <code>sage-btn--icon-left-gear</code></td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td><code>group_button_text</code></td>
  <td>Text label for the button. Recommended use for screen readers only (see <code>group_button_text_hidden</code> below). Ideal maximum length is 6-8 characters.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td><code>group_button_text_hidden</code></td>
  <td>(Recommended) Visually hides button text from view, displaying only to assistive technology users, such as screen reader devices.</td>
  <td>Boolean</td>
  <td><code>true</code></td>
</tr>
