/* ==================================================
  ** .sage-icon

  For Sage documentation use
================================================== */

.sage-icon-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: sage-spacing();
  padding: sage-spacing(lg) sage-spacing(sm);
  text-align: center;
  background: sage-color(white);
  border: sage-border();
}

.sage-icon-block__label {
  margin-bottom: 0;
  font-size: sage-font-size(xs);
  font-weight: sage-font-weight(semibold);
}
