/* ==================================================
  ** _specs.scss

  For Sage documentation use
================================================== */

.sage-specs {
  th {
    padding: 4px;
    color: sage-color(charcoal, 200);
    border-bottom: 1px solid sage-color(grey, 300);
  }

  td {
    padding: 4px;
    font-size: sage-font-size(xs);
    vertical-align: middle;
    border-bottom: 1px solid sage-color(grey, 200);
  }

  tfoot td {
    padding-top: 12px;
    border-bottom-color: transparent;
  }
}
