/* ==================================================
  ** _status_table.scss

  For Sage documentation use
================================================== */

$-status-table-border: rem(2px) solid sage-color(grey);
$-status-table-cell-padding: sage-spacing(xs) sage-spacing(sm);
$-status-table-heading-color: sage-color(charcoal, 100);
$-status-table-heading-font-size: sage-font-size(sm);
$-status-table-heading-padding: sage-spacing(xs) sage-spacing(sm);

.sage-table--status {
  width: 100%;

  thead {
    color: $-status-table-heading-color;
    font-size: $-status-table-heading-font-size;
  }

  tbody {
    tr {
      border-bottom: 0;
    }

    tr:last-child {
      border-bottom: 0;
    }
  }

  th {
    padding: $-status-table-heading-padding;
    text-align: center;
    border-bottom: $-status-table-border;

    &:first-child {
      padding-left: 0;
      text-align: left;
      text-align: inline-start;
    }
  }

  td {
    padding: $-status-table-cell-padding;
    vertical-align: middle;
    text-align: center;
    border-bottom: sage-border();

    &:first-child {
      font-weight: sage-font-weight(semibold);
      text-align: left;
    }
  }
}
