/* ==================================================
  ** _status_key.scss

  For Sage documentation use
================================================== */

.status-key {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-right: sage-spacing(sm);

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: sage-spacing();
  }

  &__icon {
    display: inline-block;
    flex: 0 0 $status-key-icon-size;
    width: $status-key-icon-size;
    height: $status-key-icon-size;
    border: 2px solid sage-color(grey);
    border-radius: $status-key-icon-size;

    &--done {
      border-color: sage-color(sage);
      background: sage-color(sage);
    }

    &--doing {
      border-color: sage-color(orange);
    }

    &--todo {
      border-color: sage-color(primary);
    }

    &--no {
      background: sage-color(grey);
    }

    &--stop {
      border-color: sage-color(red);
      background: sage-color(red);
    }
  }

  &__text {
    margin-left: sage-spacing(xs);
    font-size: sage-font-size(sm);
    font-weight: sage-font-weight(semibold);
    color: sage-color(charcoal, 200);
  }

  @media screen and (min-width: sage-breakpoint(lg-min)) {
    flex-grow: 0;
  }

  @media screen and (min-width: sage-breakpoint(xl-min)) {
    margin-right: sage-spacing(lg);
  }
}
