/* ==================================================
  ** _token.scss

  For Sage documentation use
================================================== */

.tokens {
  margin-bottom: sage-spacing();
  border: sage-border();
  border-radius: sage-border(radius);
  border-bottom: 0;
}

.token {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: sage-spacing(xs) sage-spacing(sm);
  font-size: sage-font-size(sm);
  border-bottom: sage-border();

  &::after {
    max-width: max-content;
    font-family: $docs-font-monospace;
  }

  &-border::after {
    content: "#{sage-border()}";
  }
  @each $name, $token in $sage-borders {
    &-border-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-breakpoint::after {
    content: "#{sage-breakpoint()}";
  }
  @each $name, $token in $sage-breakpoints {
    &-breakpoint-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-container::after {
    content: "#{sage-container()}";
  }
  @each $name, $token in $sage-containers {
    &-container-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-line-height::after {
    content: "#{sage-line-height()}";
  }
  @each $name, $token in $sage-line-heights {
    &-line-height-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-font-size::after {
    content: "#{sage-font-size()}";
  }
  @each $name, $token in $sage-font-sizes {
    &-font-size-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-font-weight::after {
    content: "#{sage-font-weight()}";
  }
  @each $name, $token in $sage-font-weights {
    &-font-weight-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-letter-spacing::after {
    content: "#{sage-letter-spacing()}";
  }
  @each $name, $token in $sage-letter-spacings {
    &-letter-spacing-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-shadow::after {
    content: "#{sage-shadow()}";
  }
  @each $name, $token in $sage-shadows {
    &-shadow-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-sidebar::after {
    content: "#{sage-sidebar()}";
  }
  @each $name, $token in $sage-sidebars {
    &-sidebar-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-spacing::after {
    content: "#{sage-spacing()}";
  }
  @each $name, $token in $sage-spacings {
    &-spacing-#{$name}::after {
      content: "#{$token}";
    }
  }
  &-z_index::after {
    content: "#{sage-z-index()}";
  }
  @each $name, $token in $sage-z-indexes {
    &-z_index-#{$name}::after {
      content: "#{$token}";
    }
  }
}
