<tr>
  <td>active</td>
  <td>Toggles <code>--active</code> modifier to visually indicate whether this tab is active/selected.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>text</td>
  <td>Sets the content of the text</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>target</td>
  <td>Provides the <code>id</code> for the corresponding Tab Pane that this tab will activate.</td>
  <td>String</td>
  <td>null</td>
</tr>
