<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
    id: "example-tabs1",
    items: [
      {
        text: "Main",
        target: "feature-1",
        active: true
      },
    ]
  } %>

  <%= sage_component SageTabsPane, { id: "feature-1" } do %>
    <%= render "mocks/payments_index_phase_2/pip" %>
  <% end %>
</div>
