<tr>
  <td>Inline</td>
  <td>The description of the property goes here.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>Non-wrapping</td>
  <td>Indicates whether or not to wrap the items in the list. Only relevant when <code>inline</code> is true and when viewport is larger than 768px.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>Compact</td>
  <td>Indicates whether items are spaced out (false) or compacted together (true). Only relevant when <code>inline</code> is true.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td colspan="4">
    Note that these three booleans are set up with stacked modifiers:
    <ul>
      <li>Default -- <code>sage-list</code></li>
      <li>Inline, wrapping, spaced -- <code>sage-list--inline</code></li>
      <li>Inline, wrapping, compact -- <code>sage-list--inline-compact</code></li>
      <li>Inline, non-wrapping, spaced -- <code>sage-list--inline-fit</code></li>
      <li>Inline, non-wrapping, compact -- <code>sage-list--inline-fit-compact</code></li>
    </ul>
  </td>
</tr>