<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
    id: "example-tabs1",
    items: [
      {
        text: "Dashboard module",
        target: "feature-1",
        active: true
      },
    ]
  } %>
  <%= sage_component SageTabsPane, { id: "feature-1" } do %>
    <%= render "mocks/get_started/dashboard_module" %>
  <% end %>
</div>
