<div class="sage-avatar-wrapper">
  <!-- Showing default -->
  <%= sage_component SageAvatar, { color: "", initials: "JC" } %>

  <!-- Showing color variation -->
  <%= sage_component SageAvatar, { color: "purple", initials: "PS" } %>

  <!-- Showing one initial -->
  <%= sage_component SageAvatar, { color: "sage", initials: "Q" } %>

  <!-- Showing custom class -->
  <%= sage_component SageAvatar, { color: "orange", initials: "KJ", css_classes: "my-custom-class" } %>
</div>
