<tr>
  <td>color</td>
  <td>
    This component uses the <code>--color</code> modifier to change the default
    color set to the provided color. For example <code>sage-avatar--orange</code>
    sets the initials color and background color to variants of the
    system's orange swatch.
  </td>
  <td>String</td>
  <td>null (primary color)</td>
</tr>
