<div class="sage-assistant">
  <%- if menu_button -%>
    <button class="sage-menubutton" aria-expanded="false" aria-controls="example-sidebar-menu" data-js-btn-target="example-sidebar-menu" data-js-target-type="sidebar">
      <span class="sage-menubutton__bar"></span><span class="sage-menubutton__bar"></span><span class="sage-menubutton__bar"></span>
      <span class="visually-hidden">Toggle main menu</span>
    </button>
  <%- end -%>
  <%= image_pack_tag("media/docs/sage.svg", class: "sage-assistant__branding")%>
  <div class="sage-assistant__body">
    <div class="sage-container sage-container--sm"></div>
  </div>
  <div class="sage-assistant__actions"></div>
</div>
