<tr>
  <td>data-js-target-type</td>
  <td>Must be set to "sidebar" to enable sidebar toggle functionality for the menu button.</td>
  <td>String</td>
  <td>empty</td>
</tr>
<tr>
  <td>data-js-btn-target</td>
  <td>Specifies ID of sidebar for menu button to toggle. Note that any use of "example" in the name will disable this button.</td>
  <td>String</td>
  <td>empty</td>
</tr>
