<h3 class="t-sage-heading-6">Tooltips</h3>
<%= sage_component SagePanelBlock, {} do %>
  <%= sage_component SageTooltip, {
    position: "center",
    text: "Nascetur ridiculus mus",
  } %>
  <%= sage_component SageTooltip, {
    position: "left",
    text: "Cursus Aenean",
  } %>
  <%= sage_component SageTooltip, {
    position: "right",
    text: "Bibendum Condimentum",
  } %>
<% end %>
