/* ==================================================
  ** empty_state
  type: object

================================================== */

.sage-empty-state {
  max-width: sage-container(modal);
  margin-left: auto;
  margin-right: auto;
  padding: sage-spacing(2xl) sage-spacing();
  text-align: center;
  justify-items: center;

  @include sage-grid-panel();
}

.sage-empty-state__title {
  @extend %t-sage-heading-4;

  color: sage-color(charcoal, 500);
  word-wrap: break-word;
}

.sage-empty-state__text {
  color: sage-color(charcoal, 200);
  word-wrap: break-word;
}
