/* ==================================================
  ** icon_list
  type: object

================================================== */

.sage-icon-list {
  padding-left: 0;
}

.sage-icon-list-item {
  display: flex;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: sage-spacing();
  }
}

.sage-icon-list-item__bullet {
  min-width: rem(20px);
  margin-right: sage-spacing(sm);
  text-align: center;
}

.sage-icon-list-item__bullet--checkbox {
  padding-top: sage-spacing(2xs);
}

.sage-icon-list-item__bullet--radio {
  padding-top: rem(6px);
}

.sage-icon-list-item__body {
  flex: 1;

  > p:not(:last-child) {
    margin-bottom: sage-spacing(xs);
  }
}

.sage-icon-list-item__label {
  @extend %t-sage-body-med;
}

.sage-icon-list-item__label-subtext {
  @extend %t-sage-body-small;
  color: sage-color(charcoal, 200);
}

.sage-icon-list-item__title {
  @extend %t-sage-heading-6;
  margin-bottom: sage-spacing(xs);
}

