version: 2.1
orbs:
  node: circleci/node@3.0.1
jobs:
  lint:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn lint
          name: Lint package styles
workflows:
  sage_system_specs:
    jobs:
      - lint
