<h2>Single item</h2>
<%= sage_component SageDescription, {
  title: "Name",
  data: "John Doe",
} %>

<h2>Single item (title normal case)</h2>
<%= sage_component SageDescription, {
  title: "Name",
  data: "John Doe",
  allcaps_titles: false,
} %>

<h2>Multiple items</h2>
<%= sage_component SageDescription, {
  items: [
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    }
  ],
} %>

<h2>Multiple items (inline layout)</h2>
<%= sage_component SageDescription, {
  items: [
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "#{image_tag("card-placeholder-sm.png", height: 16, width: 24)} John Doe".html_safe,
    }
  ],
  inline_spread: true,
  allcaps_titles: false,
} %>

