<h3 class="t-sage-heading-6">Single Line</h3>

<%= render "examples/elements/choice/markup",
  target: "example",
  id: "choice1",
  text: "Option 1"
%>

<h3 class="t-sage-heading-6">Multi-Line</h3>

<%= render "examples/elements/choice/markup",
  target: "example",
  id: "choice2",
  stacked: true,
  text: "Option 1",
  subtext: "Description of Option 1"
%>
