<tr>
  <td>active</td>
  <td>Toggles <code>--active</code> modifier to visually indicate whether this choice is active/selected.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>align_center</td>
  <td>Toggles <code>--align-center</code> modifier to visually center the icon and text. This is only intended to be used with the "icon" type.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>text</td>
  <td>Sets the content of the primary text line</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>subtext</td>
  <td>Sets the content of the secondary text line</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>type</td>
  <td>Sets the choice graphic type. If <code>icon</code> is used here the <code>icon</code> prop must also be set.</td>
  <td>icon | radio | arrow</td>
  <td>radio</td>
</tr>
<tr>
  <td>icon</td>
  <td>Provides the name of the Sage Icon to be displayed before the text content.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>target</td>
  <td>Provides the <code>id</code> for the corresponding Tab Pane that this choice will activate.</td>
  <td>String</td>
  <td>null</td>
</tr>
