<%= md('
- The `radio` type should only be used to conditionally render content. This component should not be used as a form field. In that case use the <a href=\"/pages/element/radio\"> Radio</a> component
', use_sage_type: true) %>
