<tr>
  <td>single_block_type</td>
  <td>When the card contains a single body type this can be used to simplify markup. See above.</td>
  <td>String</td>
  <td><code>block | stack | list | row</code></td>
</tr>
<tr>
  <td>single_block_template</td>
  <td>When a card contains a single row, this optional param specifies the Sage Grid Template to be used.</td>
  <td>String</td>
  <td><code>null</code></td>
</tr>
<tr>
  <td>border_dashed</td>
  <td>Uses our Sage dashed border styles</td>
  <td>Boolean</td>
  <td><code>false</code></td>
</tr>
