<tr>
  <td>compact</td>
  <td>The card object uses the <code>--compact</code> modifier to changes the card to a horizontal layout.</td>
  <td>String</td>
  <td></td>
</tr>
<tr>
  <td>spaced</td>
  <td>The card object uses the <code>--spaced</code> modifier to add additional padding around the card content. Can also be used in conjuntion with the <code>--compact</code> modifier to add padding to the horizontal layout. </td>
  <td>String</td>
  <td></td>
</tr>
</tr>
<tr>
  <td>null</td>
  <td>The card object uses the <code>--null</code> modifier to add styling for using the card object in a null state context. Increases the vertical padding.</td>
  <td>String</td>
  <td></td>
</tr>
