@function sage-container($key: md) {
  $value: map-get($sage-containers, $key);
  @return $value;
}

$sage-containers: (
  modal: 500px,
  xs: 760px,
  sm: 900px,
  md: 1200px,
  lg: 1440px,
  fluid: 100%,
);
