/* ==================================================
  ** Icons

  Unicode map for icons
================================================== */

@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

@function sage-icon($icon-name) {
  @return map-get($sage-icons, $icon-name);
}

$sage-icon-sizes: (
  xs: rem(8px),
  sm: rem(12px),
  md: rem(16px),
  lg: rem(20px),
  xl: rem(24px),
  2xl: rem(28px),
  3xl: rem(32px),
  4xl: rem(36px),
);

$sage-icons: (
  // Primary/active list
  add: unicode(e90c),
  add-circle: unicode(e909),
  add-image: unicode(e90a),
  add-small: unicode(e90b),
  align-center: unicode(e90d),
  align-justify: unicode(e90e),
  align-left: unicode(e90f),
  align-right: unicode(e910),
  arrow-corner: unicode(e911),
  arrow-down: unicode(e912),
  arrow-left: unicode(e913),
  arrow-right: unicode(e914),
  arrow-up: unicode(e915),
  assessment: unicode(e916),
  attach: unicode(e917),
  automations: unicode(e918),
  bold: unicode(e919),
  broadcast: unicode(e91a),
  calendar-date: unicode(e91b),
  calendar-schedule: unicode(e91c),
  caret-down: unicode(e91d),
  caret-left: unicode(e91e),
  caret-right: unicode(e91f),
  caret-up: unicode(e920),
  cart: unicode(e921),
  chart: unicode(e922),
  check: unicode(e924),
  check-circle: unicode(e923),
  circle-1: unicode(e900),
  circle-2: unicode(e901),
  circle-3: unicode(e902),
  circle-4: unicode(e903),
  circle-5: unicode(e904),
  circle-6: unicode(e905),
  circle-7: unicode(e906),
  circle-8: unicode(e907),
  circle-9: unicode(e908),
  clock: unicode(e925),
  code: unicode(e926),
  color: unicode(e927),
  comment: unicode(e928),
  connect: unicode(e929),
  conversation: unicode(e92a),
  copy: unicode(e92b),
  coupon: unicode(e92c),
  custom-field: unicode(e92d),
  customize: unicode(e92e),
  delete-circle: unicode(e92f),
  delete-key: unicode(e930),
  delete-x: unicode(e931),
  dot-menu-horizontal: unicode(e932),
  down-small: unicode(e933),
  download: unicode(e934),
  drop: unicode(e935),
  email-activity: unicode(e936),
  enlarge: unicode(e938),
  enlarge-vertical: unicode(e937),
  favortie: unicode(e939),
  file: unicode(e93a),
  filters: unicode(e93b),
  folder: unicode(e93d),
  folder-group: unicode(e93c),
  form: unicode(e93e),
  fullscreen: unicode(e93f),
  funnel: unicode(e940),
  gear: unicode(e941),
  handle: unicode(e942),
  hashtag: unicode(e943),
  horizontal-line: unicode(e944),
  image: unicode(e945),
  info-circle: unicode(e946),
  italic: unicode(e947),
  launch: unicode(e948),
  left-small: unicode(e949),
  list-bullet: unicode(e94a),
  list-details: unicode(e94b),
  list-numbers: unicode(e94c),
  list-stack: unicode(e94d),
  lock: unicode(e94e),
  loop: unicode(e94f),
  mail: unicode(e950),
  mapped: unicode(e951),
  margin-left: unicode(e952),
  margin-right: unicode(e953),
  megaphone: unicode(e954),
  menu: unicode(e956),
  menu-alt: unicode(e955),
  microhpone: unicode(e957),
  microphone-off: unicode(e958),
  monitor: unicode(e959),
  pen: unicode(e95a),
  play: unicode(e95b),
  preview-off: unicode(e95c),
  preview-on: unicode(e95d),
  product: unicode(e95e),
  question-circle: unicode(e95f),
  quote: unicode(e960),
  redo: unicode(e961),
  remove: unicode(e963),
  remove-circle: unicode(e962),
  restore: unicode(e964),
  right-small: unicode(e965),
  round-dollar: unicode(e966),
  screen-share-off: unicode(e967),
  screen-share-on: unicode(e968),
  search: unicode(e96a),
  search-small: unicode(e969),
  send-message: unicode(e96b),
  skipped: unicode(e96c),
  sort: unicode(e96d),
  star: unicode(e96e),
  stop: unicode(e96f),
  strikethrough: unicode(e970),
  subscript: unicode(e971),
  superscript: unicode(e972),
  tag: unicode(e973),
  trash: unicode(e974),
  underline: unicode(e975),
  undo: unicode(e976),
  unmapped: unicode(e977),
  up-small: unicode(e978),
  upload: unicode(e979),
  url: unicode(e97a),
  user: unicode(e97b),
  user-circle: unicode(e97c),
  user-star: unicode(e97d),
  users: unicode(e97e),
  video-off: unicode(e97f),
  video-on: unicode(e980),
  warning: unicode(e981),

  // Duplications/deprecations
  1-circle: unicode(e900),
  2-circle: unicode(e901),
  3-circle: unicode(e902),
  4-circle: unicode(e903),
  5-circle: unicode(e904),
  6-circle: unicode(e905),
  7-circle: unicode(e906),
  8-circle: unicode(e907),
  9-circle: unicode(e908),
  3-dot-menu: unicode(e909),
);
