<tr>
  <td>Responsive tables</td>
  <td>Allows the table to scroll horizontally without breaking its parent container. Requires the use of two containing elements: the parent with class <code>.sage-table-wrapper</code>, and a child with class <code>.sage-table-wrapper__overflow</code></td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Striped tables</td>
  <td><code>.sage-table--striped</code> adds a background color to odd-numbered rows</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Highlighted rows</td>
  <td><code>.sage-table--selectable</code> adds a background color when a user hovers over rows</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Block cells</td>
  <td><code>.sage-table-cell__block</code> creates vertical block layouts within table cells. These layouts can include <code>.sage-table-cell__heading</code> and <code>.sage-table-cell__body</code> content areas.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Truncated cells</td>
  <td><code>.sage-table-cell--truncate</code> on individual cells truncates their content at smaller viewport sizes, displaying ellipses (&hellip;) in place of overflowing content. Take care not to use this with important pieces of information that should be displayed to users at all times.</td>
  <td>String</td>
  <td>null</td>
</tr>
