<ul>
  <li>Make use of the <code>thead</code>, <code>tbody</code>, and <code>tfoot</code> elements. While not required, they provide a useful indicator of semantics for accessibility purposes.</li>
  <li>Use the <code>&lt;caption&gt;</code> element to <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption" rel="nofollow">provide additional description to the table</a></li>
</ul>
