<%= render "examples/elements/form_select/markup",
  name: "Characters",
  has_error: false,
  select_options: [
    {
      text: "-- Please Select a Character --",
      value: "",
    },
    {
      text: "(None Specified)",
      value: "",
    },
    {
      text: "Mario",
      value: "mario",
    },
    {
      text: "Luigi",
      value: "luigi",
    },
    {
      text: "Princess Peach",
      value: "princess-peach",
    },
    {
      text: "Daisy",
      value: "daisy",
    },
    {
      text: "Toad",
      value: "toad",
    },
  ],
  message: "This is a message"
%>

<%= render "examples/elements/form_select/markup",
  name: "Pets",
  has_error: true,
  select_options: [
    {
      text: "-- Please Select a Pet --",
      value: "",
    },
    {
      text: "(None Specified)",
      value: "",
    },
    {
      text: "Dog",
      value: "dog",
    },
    {
      text: "Cat",
      value: "cat",
    },
    {
      text: "Hamster",
      value: "hamster",
    },
    {
      text: "Parrot",
      value: "parrot",
    },
    {
      text: "Spider",
      value: "spider",
    },
    {
      text: "Goldfish",
      value: "goldfish",
    },
  ],
  message: "This is a message"
%>

<p><strong>Note:</strong> For a fully styled dropdown selector, see the Dropdown object.</p>
