<% footerContainer ||= false %>

<div class="docs-footer">
  <% if footerContainer %>
    <div class="sage-container sage-container--xl">
  <% end %>

  <%= sage_component SageButtonGroup, { gap: :md } do %>
    <%= sage_component SageButton, {
      value: "Version #{$SAGE_VERSION_GEM}",
      attributes: {
        href: $SAGE_RELEASE_URL,
        target: "_blank",
        rel: "noopener",
        title: "Open SageRails gem source"
      },
      subtle: true,
    } %>
    <%= sage_component SageButton, {
      value: "SASS Docs",
      attributes: {
        href: Rails.application.config.sassdocs_root_url,
        target: "_blank",
        rel: "noopener",
        title: "Open Sassdocs site"
      },
      subtle: true,
    } %>
    <%= sage_component SageButton, {
      value: "Storybook",
      attributes: {
        href: storybook_url(nil),
        target: "_blank",
        rel: "noopener",
        title: "Open Storybook React components site"
      },
      subtle: true,
    } %>
  <% end %>

  <% if footerContainer %>
    </div>
  <% end %>
</div>
