<title>
  <%= defined?(@title) ? "Sage | #{@title.titleize}" : "Sage Design System" %>
</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" type="image/png" %>
<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" %>
<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" %>
<link href="/favicon.ico" rel="icon" type="image/x-icon" %>

<%= csrf_meta_tags %>
