<div class="status-key__wrapper">
  <div class="status-key">
    <div class="status-key__icon status-key__icon--done"></div>
    <div class="status-key__text">Done</div>
  </div>
  <div class="status-key">
    <div class="status-key__icon status-key__icon--doing"></div>
    <div class="status-key__text">In Progress</div>
  </div>
  <div class="status-key">
    <div class="status-key__icon status-key__icon--todo"></div>
    <div class="status-key__text">To-do</div>
  </div>
  <div class="status-key">
    <div class="status-key__icon status-key__icon--no"></div>
    <div class="status-key__text">Not applicable</div>
  </div>
  <div class="status-key">
    <div class="status-key__icon status-key__icon--stop"></div>
    <div class="status-key__text">Deprecated</div>
  </div>
</div>