<h3>Default</h3>
<%= sage_component SageNextBestAction, {
  button: {
    style: "primary",
    text: "Add an Upsell",
  },
  card_color: "draft",
  desc: "Maximize your profit by adding an Upsell to your order flow. This section might wrap to two lines.",
  dismissable: true,
  graphic: {
    element: image_tag("next_best_action_graphic.png", alt: ""),
  },
  title: "Offer an additional buy with Upsell",
} %>

<h3>Graphic on Right</h3>
<%= sage_component SageNextBestAction, {
  button: {
    style: "primary",
    text: "Add an Upsell",
  },
  card_color: "draft",
  desc: "Maximize your profit by adding an Upsell to your order flow. This section might wrap to two lines.",
  dismissable: true,
  graphic: {
    element: image_tag("next_best_action_graphic.png", alt: ""),
    onRight: true,
  },
  title: "Offer an additional buy with Upsell",
} %>
