<h3>Default</h3>
<%= sage_component SageNextBestAction, {
  button: {
    style: "primary",
    text: "Add an Upsell",
  },
  card_color: "draft",
  desc: " Maximize your profit by adding an Upsell to your order flow. This section might wrap to two lines. Maximize your profit by adding an Upsell to your order flow. This section might wrap to two lines.",
  image: {
    alt: "This is the image alt",
    src: "https://pyxis.nymag.com/v1/imgs/993/469/02ca372a54c41c1913a15223280297100a-28-indiana-jones.rsquare.w1200.jpg",
  },
  title: "Offer an additional buy with Upsell",
} %>
