<h3>Default</h3>
<%= sage_component SageNextBestAction, {
  button_style: "primary",
  button_text: "Add an Upsell",
  card_color: "draft",
  desc: "Maximize your profit by adding an Upsell to your order flow. This section might wrap to two lines.",
  title: "Offer an additional buy with Upsell",
} %>
