<tr>
  <td>Icon usage</td>
  <td>Classnames dictate the icon positioning to the left or right of text. For example, `sage-btn--icon-left-gear` indicates that the "gear" icon will be displayed to the left. Reference the <a href="<%= pages_foundations_path(:icon) %>" rel="nofollow">full list of icons</a> for naming.</td>
  <td>String</td>
  <td>null</td>
</tr>
