<tr>
  <td>style</td>
  <td>Assign an alternate style, options include: <code>danger</code></td>
  <td>String</td>
  <td><code>null</code></td>
</tr>
<tr>
  <td>Value</td>
  <td>The message to be displayed</td>
  <td>String</td>
  <td><code>null</code></td>
</tr>
