<tr>
  <td>type</td>
  <td>Assign an alternate style, options include: <code>notice</code> <code>danger</code></td>
  <td>String</td>
  <td><code>notice</code></td>
</tr>
<tr>
  <td>message</td>
  <td>The message to be displayed</td>
  <td>String</td>
  <td><code>null</code></td>
</tr>
<tr>
  <td>timer</td>
  <td>Time toast should be displayed</td>
  <td>String</td>
  <td><code>4000</code></td>
</tr>
