<div
  class="
    sage-property
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <i class="sage-property__icon sage-icon-<%= component.icon %>"></i>
  <span class="sage-property__value">
    <%= component.value %>
  </span>
</div>
