<%# Desired HTML %>
<div class="
    sage-video-thumbnail
    <%= component.generated_css_classes %>
  "
  style="background-image: url(<%= component.imageUrl %>);"
  <%= component.generated_html_attributes.html_safe %>
>
  <%# add button props %>
  <button
    class="sage-video-thumbnail__play-button"
    type="button"
  >
    <span>Play media</span>
  </button>
</div>
