<%= sage_layout SageFrame, {
  border: "default",
  border_radius: "md",
  css_classes: sage_classnames({ text_align: "CENTER" }),
  padding: "md",
} do %>
  <h4>Lorem ipsum</h4>
  <p>Lorem ipsum color sit</p>
<% end %>
