<tr>
  <td>active</td>
  <td>Tabs use a <code>--active</code> modifier to visually indicate which tab or related content is actively being viewed.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>stacked</td>
  <td>Tabs use a <code>--stacked</code> modifier to visually display tab options on top of each other.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>style</td>
  <td>Tabs use a <code>--style</code> modifier to visually display either a tab or choice button.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>progressbar</td>
  <td>Tabs use a <code>--progressbar</code> modifier to visually display regular tabs in a progressional fashion.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>align_items_center</td>
  <td>Toggles whether the contents of tab items should center; intended only to be used with icon-style choices.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>card</td>
  <td>styles the pane as a Sage Card altogether. All examples on this page use this modifier.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>card_spacing</td>
  <td>applies the internal Card grid settings but no padding or border.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>panel_spacing</td>
  <td>applies the internal Panel grid settings but no padding or box shadow.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
