<tr>
  <td>active</td>
  <td>Tabs use a <code>--active</code> modifier to visually indicate which tab or related content is actively being viewed.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>stacked</td>
  <td>Tabs use a <code>--stacked</code> modifier to visually display tab options on top of each other.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>style</td>
  <td>Tabs use a <code>--style</code> modifier to visually display either a tab or choice button.</td>
  <td>String</td>
  <td>null</td>
</tr>
