<div
  class="sage-panel__tiles
    <%= "sage-panel__tiles--#{component.tiles_in_row}-up" %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes %>
>
  <%= component.content %>
</div>
