<span
  class="sage-tag <%= component.generated_css_classes %>"
  tabindex="0"
  <%= component.generated_html_attributes.html_safe %>
>
  <span class="sage-tag__value"><%= component.value %></span>
  <% if component.show_dismiss %>
    <span class="sage-tag__action">
      <%= sage_component SageButton, {
        value: component.value,
        style: "primary",
        subtle: true,
        icon: { name: "remove", style: "only" },
        attributes: component.dismiss_attributes
      } %>
    </span>
  <% end %>
</span>
