<div class="sage-drawer">
  <%= sage_component SageModal, {
    id: "test-drawer",
    remote_url: async_path("modal-demo"),
    remove_content_on_close: true,
    disable_background_blur: true,
    animate: {
      direction: "left"
    },
  } do %>
    <% if content_for? :sage_drawer_header_action %>
      <%= content_for :sage_drawer_header_action %>
    <% end %>

    <%= sage_component SageModalContent, {} do %>
      <%= sage_component SageLoader, { type: "spinner" } %>
    <% end %>
  <% end %>
</div>
