<div
  class="sage-classnames <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <%= sage_classnames({
    align: "center",
    color: "charcoal-200",
    type_spec: "body-sm",
  }) %>
</div>
