<div
  class="
    sage-avatar
    <%= "sage-avatar--#{component.color}" if component.color.present? %>
    <%= "sage-avatar--centered" if component.centered.present? && component.centered %>
    <%= component.css_classes %>
  "
>
  <svg class="sage-avatar__initials" viewBox="0 0 32 32">
    <text x="16" y="20"><%= component.initials %></text>
  </svg>
</div>
