<div class="sage-expandable-card">
  <div
    class="sage-expandable-card__header"
    data-js-accordion="header"
  >
    <%= component.header.html_safe %>
    <% if component.header_aside %>
      <aside class="sage-expandable-card__header-aside">
        <%= component.header_aside.html_safe %>
      </aside>
    <% end %>
  </div>
  <div
    class="sage-expandable-card__body"
    data-js-accordion="body"
  >
    <%= component.body.html_safe %>
  </div>
  <% if component.footer %>
    <div class="sage-expandable-card__footer"><%= component.footer %></div>
  <% end %>
</div>
