<div
  class="
    sage-property
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes %>
>
  <i class="sage-property__icon sage-icon-<%= component.icon %>"></i>
  <%= component.value %>
</div>
