<div class="sage-search">
  <input
    class="sage-search__input"
    type="search"
    placeholder="<%= component.placeholder.present? ? component.placeholder : "Search" %>"
    value="<%= component.value %>"
  />
</div>
