<span class="sage-badge">
  <% if content_for? :sage_badge_dot %>
      <%= content_for :sage_badge_dot %>
  <% end %>
  <button></button>
  <span class="sage-label__decor-icon sage-label__decor-icon--down-small"></span>
</span>
