<ul class="sage-icon-list">
  <% component.items.each do | item | %>
    <li class="sage-icon-list-item" role="listitem">
      <div class="sage-icon-list-item__bullet<% if item[:bullet_type].present? %><%= " sage-icon-list-item__bullet--#{item[:bullet_type]}"%><% end %>">
        <%= item[:bullet].html_safe %>
      </div>
      <div class="sage-icon-list-item__body">
        <%= item[:body].html_safe %>
      </div>
    </li>
  <% end %>
</ul>


