<div class="
    sage-loader
    sage-loader--<%= component.style %>
    <%= "sage-loader--fill" if component.fill %>
  "
  data-loading="true"
>
  <span class="visually-hidden">Loading...</span>
</div>
