<div class="
    sage-loader
    sage-loader--<%= component.shape %>
    <%= "sage-loader--fill" if component.fill %>
  "
  data-loading="true"
  aria-busy="true"
  aria-live="polite"
> 
  <%# Spinner SVG %>
  <% if component.shape === "spinner" %>
    <svg class="spinner" viewBox="25 25 50 50" >
      <circle class="spinner-path" cx="50" cy="50" r="20" fill="none" stroke="0072EF" stroke-width="4" />
    </svg>
  <% end %>
  <span class="visually-hidden">Loading...</span>
</div>


