<% num_items = component.num_items.present? ? component.num_items : 0 %>

<ul class="sage-indicator-list" aria-label="<%= "Showing #{component.label} #{component.current_item} of #{component.num_items}"%>" <%= component.generated_html_attributes.html_safe %>>
  <% for i in 1...(num_items + 1) %>
    <li class="sage-indicator<%= " sage-indicator--current" if component.current_item == i %>">
      <span class="visually-hidden">
        <%= "#{component.label} #{i}" %>
      </span>
    </li>
  <% end %>
</ul>
