<div class="
    sage-btn-group
    <%= "sage-btn-group--align-#{component.align}" if component.align.present? %>
    <%= "sage-btn-group--gap-#{component.gap}" if component.gap.present? %>
    <%= component.generated_css_classes %>
  "
>
  <%= component.content %>
</div>
