<details class="sage-expandable-panel">
  <summary class="sage-expandable-panel__summary">
    <div class="sage-expandable-panel__summary-image">
      <img src=<%= component.image %> alt="testing" />
    </div>
    <span class="sage-expandable-panel__summary-text"><%= component.summary_text%></span>
    <div class="sage-expandable-panel__summary-trigger">
      <span class="sage-expandable-panel__summary-icon"></span>
    </div>
  </summary>
  <div class="sage-expandable-panel__content">
    <%= component.content %>
  </div>
</details>
