<header
  class="sage-panel__header <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.title %>
    <h1 class="sage-panel__title">
      <%= component.title %>
    </h1>
  <% end %>
  <%= component.content %>
</header>
