<div
  class="sage-sortable"
  data-js-sortable="<%= component.resource_name %>"
>
  <% if component.content.present? %>
    <%= component.content %>
  <% elsif content_for?(:sage_empty)%>
    <%= content_for :sage_empty %>
  <% end %>
</div>
