<div
  class="sage-hint <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <i class="sage-hint__icon sage-icon-info-circle t-sage--color-inherit" aria-hidden="true"></i>
  <span class="sage-hint__content"><%= component.content %></span>
</div>
