<div class="sage-avatar<%= component.color != "" ? " sage-avatar--#{component.color}" : "" %> <%= component.css_classes %>">
  <svg class="sage-avatar__initials" viewBox="0 0 32 32">
    <text x="16" y="20"><%= component.initials %></text>
  </svg>
</div>
