<header
  class="sage-panel__subheader <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.title %>
    <h2 class="sage-panel__subtitle">
      <%= component.title %>
    </h2>
  <% end %>
  <%= component.content %>
</header>
