<div
  class="sage-panel__footer
    <%= "sage-panel__footer--align-spread" if component.align_spread %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes %>
>
  <%= component.content %>
</div>
