<div
  class="sage-empty-state"
  <%= component.generated_html_attributes %>
>
  <h2 class="sage-empty-state__title"><%= component.title %></h2>
  <p class="sage-empty-state__text"><%= component.text %></p>
  <%= component.content %>
</div>
