<ul>
  <li>
    <%= md('
      Consider providing `label` for any icon use that describes the icon.
      For example, the typical "+ Item" use case
      should likely describe "+" with the `label` of "add" or something similar. 
      If `label` is omitted, the icon will be set up with `aria-hidden="true"`
    ') %>
  </li>
</ul>
