<div class="sage-sortable" data-js-sortable="resourceNameHere">

  <section class="sage-sortable__item" data-js-sortable-update-url="/update/url/here">
    <div class="sage-sortable__item-content">
      <h1 class="t-sage-body">Batman</h1>
      <p class="t-sage-body-xsmall">Batmobile</p>
    </div>
    <div class="sage-sortable__item-actions">
      <%= render "examples/elements/button/markup",
        align_end: false,
        color: "tertiary",
        icon_class: "sage-btn--icon-only-preview-on",
        icon_only: true,
        is_disabled: false,
        is_link_btn: true,
        link_url: "#",
        size: "",
        text: "Preview"
      %>
      <%= render "examples/elements/button/markup",
        align_end: false,
        color: "tertiary",
        icon_class: "sage-btn--icon-only-pen",
        icon_only: true,
        is_disabled: false,
        is_link_btn: true,
        link_url: "#",
        size: "",
        text: "Edit"
      %>
    </div>
  </section>

  <section class="sage-sortable__item" data-js-sortable-update-url="/update/url/here">
    <div class="sage-sortable__item-content">
      <h1 class="t-sage-body">Spiderman</h1>
      <p class="t-sage-body-xsmall">Mary Jane's Oldsmobile</p>
    </div>
    <div class="sage-sortable__item-actions">
      <%= render "examples/elements/button/markup",
        align_end: false,
        color: "tertiary",
        icon_class: "sage-btn--icon-only-preview-on",
        icon_only: true,
        is_disabled: false,
        is_link_btn: true,
        link_url: "#",
        size: "",
        text: "Preview"
      %>
      <%= render "examples/elements/button/markup",
        align_end: false,
        color: "tertiary",
        icon_class: "sage-btn--icon-only-pen",
        icon_only: true,
        is_disabled: false,
        is_link_btn: true,
        link_url: "#",
        size: "",
        text: "Edit"
      %>
    </div>
  </section>

</div>
