<tr>
  <td><%= md('`size`') %></td>
  <td><%= md("Sets the maximum size for the container page.") %></td>
  <td><%= md("`\"#{SageTokens::CONTAINER_SIZES.join("\"`, `\"")}\"`") %></td>
  <td><%= md('`"full"`') %></td>
</tr>
