<ul>
  <li><%= md('For `small` Alerts, do not include a `title`, `title_addon`, or any actions: `primary_actions`, `secondary_actions`, or `content_for`.') %></li>
    <li><%= md('Do not use the `content_for :sage_alert_actions` unless needing 3 or more Alert actions.') %></li>
</ul>
