<tr>
  <td>sub</td>
  <td>Nav uses a <code>--sub</code> modifier to visually offset and provide the appearance of nested sub links.</td>
  <td>String</td>
  <td>Default</td>
</tr>
<tr>
  <td>active</td>
  <td>Nav uses a <code>--active</code> modifier to add an "active" visual indicator to the selected link or sub-link when navigating the application.</td>
  <td>String</td>
  <td>Default</td>
</tr>
