/* ==================================================
  ** _page.scss

  Default Sage page layout
================================================== */

.sage-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.banner-active {
    transform: translateY(#{$sage-banner-height});
    height: calc(100% - #{$sage-banner-height});
    transition: transform 0.25s ease-in-out 0.15s;
  }
}

.sage-page__icon {
  height: 60px;
  margin-bottom: sage-spacing();
}
