<tr>
  <td><code>alt_text</code></td>
  <td>Sets the <code>alt</code> text for the components's image.</td>
  <td>String</td>
  <td></td>
</tr>
<tr>
  <td><code>description</code></td>
  <td>Sets the description text for the component.</td>
  <td>String</td>
  <td></td>
</tr>
<tr>
  <td><code>image</code></td>
  <td>Sets the <code>src</code> for the component's image</td>
  <td>String</td>
  <td></td>
</tr>
<tr>
  <td><code>links</code></td>
  <td>An array of optional links that includes <code>icon</code>, <code>location</code> and <code>text</code> hash options.</td>
  <td>Array</td>
  <td></td>
</tr>
<tr>
  <td><code>title</code></td>
  <td>Sets the sets the title text for the component</td>
  <td>String</td>
  <td></td>
</tr>
<tr>
  <td><code>title_tag</code></td>
  <td>Sets the heading tag (<code>h1</code> - <code>h6</code>) for the component's title tag</td>
  <td>String</td>
  <td>h3</td>
</tr>
