<%= content_for :heading do %>
<%= md(%(
# Empty States
<p class="docs-heading__lead">How an experience looks without items to display is as important as how it looks with content.</p>
)) %>
<% end %>