<%= content_for :heading do %>
<%= md(%(
# Code Status

<p class="docs-heading__lead">Our Components and the platforms that they are available on.</p>
)) %>
  <%= render "status_key" %>
<% end %>
<div class="sage-table-wrapper">
  <div class="sage-table-wrapper__overflow">
    <table class="sage-table sage-table--status">
      <thead>
        <tr>
          <th>Component</th>
          <th>HTML/CSS</th>
          <th>A11y</th>
          <th>Documentation</th>
          <th>Rails</th>
          <th>React</th>
        </tr>
      </thead>
      <% sorted_sage_all_components.each do |item| %>
        <%= render "status_item", item: item %>
      <% end %>
    </table>
  </div>
</div>
