<%= content_for :heading do %>
<%= md(%(
# Voice & Tone
<p class="docs-heading__lead">One way we write impactful content is by being aware of our voice and our tone. The section explains the difference between voice and tone, and lays out the elements of each as they apply to Kajabi.</p>
)) %>
<% end %>

<%= md("
What’s the difference between voice and tone? Think of it this way: you have the same voice all the time, but your tone changes. You might use one tone when you’re out to dinner with your closest friends, and one time when you are in a meeting with your boss.

Your tone also changes depending on the emotional state of the person you’re addressing. You wouldn’t want to use the same tone of voice with someone who’s scared or upset as someone who’s laughing.

The same is true for Kajabi. Our voice doesn’t change much from day-to-day, but our tone changes all the time.

## Our Voice

Voice is how we write and speak all the time as the Kajabi brand.

At Kajabi, we’ve been creating solutions for 10 years, and accordingly, we consider ourselves experts on online businesses. That’s why we speak like a highly experienced mentor.

Over the years, we’ve put a lot of thought into the problems that our customers are facing. We’ve created a system that not only solves those problems but provides such a profound sense of relief that success is possible.

We aren’t just thinking about the problems they’re facing now, but the problems they’re going to face when they grow, and we have solutions in place for that too.

One thing we don’t do is solve perceived problems. No spending time worrying about “what if’s?” that won’t ever happen. We’re in the business of solving actual problems. Our focus is on doing, not overplanning.

That means we’ll always have our customers’ best outcomes in mind when creating feature sets, whether they themselves agree with it or not.

And everything at Kajabi begins and ends with our customers’ success.

We know how difficult the journey as a business owner is, so we’re here as our customers’ business partners, to guide them and make the path to success as painless as possible.

## Our Tone

- Positive
- Empathetic
- Energized
- Conversational
- Confident (but self-aware, we’ll poke fun at ourselves if we’re tooting our own horn)
- Cheerful
- Rebellious (not afraid to break some rules or do the opposite of what everyone else in our space is doing)
- Bold (takes risks)
- Realistic

## Our Goals

### We are aspirational.
The stories of our Kajabi Heroes are proof every business has the capacity for success with the right tenacity and the right toolkit. That’s why we treat every business seriously.

### We are best-in-class.
We strive for excellence and everything we put out exudes quality, both in our product and our branding.

### We are honest.
We’re here to provide clarity, not confuse or distract our customers from success with hype or overpromises.

We choose honesty with our users, even if it means being realistic about the amount of work and time it takes to grow a business, rather than sell someone on a lie.

### We are empathetic.
We understand that the people we are serving are frustrated by the tools out there and the stagnancy of their online business. We understand the challenges of growing a small business and chasing a dream that others might be skeptical of, because we’ve been there ourselves. Our customers are our biggest inspiration and we give them the utmost respect.

### We are witty.
We let our witty, personality show that we’re real people taking care of real people. While we don’t take things so seriously, we always make sure never to punch down or be insulting.

### We are thoughtful.
We carefully consider how our work affects the real-world businesses of our audiences. We do the work of listening to customers, thoughtfully considering their comments, and exploring how we can better serve them. Our work is neither rushed nor belabored; it is thoughtful.

### We are trusted.
Our audience knows we’re interested in their long-term success. They can trust that our work benefits their businesses first, even if it means a little more effort on our team’s part.

### We are approachable.
We engage with our audience, valuing their comments, questions and input. In fact, we’re excited to welcome them into our offices. We never try to make someone feel lesser-than for asking an earnest question.
", use_sage_type: true) %>