// ==================================================
// Variables
// ==================================================

$sage-icon-font-path: "../../fonts/sage" !default;
$sage-icon-background-color: #eee !default;
$sage-icon-li-margin-right: 0.4em !default;


// ==================================================
// Font setup
// ==================================================

@font-face {
  font-family: "Sage";
  src: url("#{$sage-icon-font-path}/Sage.woff");
  src: url("#{$sage-icon-font-path}/Sage.woff") format("woff"),
    url("#{$sage-icon-font-path}/Sage.ttf") format("truetype"),
    url("#{$sage-icon-font-path}/Sage.svg") format("svg"),
    url("#{$sage-icon-font-path}/Sage.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


// ==================================================
// Mixins
// ==================================================

@mixin sage-icon-rotate($degrees, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  transform: rotate($degrees);
}

@mixin sage-icon-flip($horiz, $vert, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  transform: scale($horiz, $vert);
}


// ==================================================
// Base class definition
// ==================================================

// Build icons as `sage-icon-icon-name` based on the map in `tokens/_icon`
@each $icon-name, $icon-code in $sage-icons {
  @each $size-name, $size in $sage-icon-sizes {
    $suffix: "-#{$size-name}";

    @if $size-name == md {
      $suffix: "";
    }

    .sage-icon-#{$icon-name}#{$suffix} {
      &::before {
        @include sage-icon-base($icon-name, $size-name);
      }
    }
  }
}

@keyframes sage-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
