<tr>
  <td><code>data-js-tooltip</code></td>
  <td>data attribute for text that will be displayed within the tooltip</td>
  <td>String</td>
  <td>Default</td>
</tr>
<tr>
  <td><code>data-js-tooltip-position</code></td>
  <td>data attribute to position the tooltip - top | bottom | left | right</td>
  <td>String</td>
  <td>top</td>
</tr>
<tr>
  <td><code>data-js-tooltip--theme</code></td>
  <td>data attribute to set a light theme on tooltip. If empty, defaults to "dark".</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td><code>data-js-tooltip--size</code></td>
  <td>data attribute to assign tooltip size. Choose between <code>small</code> (decreased horizontal padding) and <code>large</code> (increased maximum width). When empty, defaults to a maximum width of 200px.</td>
  <td>String</td>
  <td>null</td>
</tr>
