<tr>
  <td><code>max_value</code></td>
  <td>Assigns a maximum value to the meter. Required for updated styles to function.</td>
  <td>Integer</td>
  <td>0</td>
</tr>
<tr>
  <td><code>value</code></td>
  <td>The current meter value.</td>
  <td>Integer</td>
  <td>0</td>
</tr>
<tr>
  <td><code>optimum_value</code></td>
  <td>(optional) Sets the optimal value of the meter, indicating that a satisfactory value has been reached.</td>
  <td>Integer</td>
  <td>null</td>
</tr>
