<h3 class="t-sage-heading-6">Default</h3>
<%= sage_component SageIndicator, {
  current_item: 2,
  label: "Page",
  num_items: 5,
} %>


<h3 class="t-sage-heading-6">Show Text</h3>
<%= sage_component SageIndicator, {
  current_item: 2,
  label: "Page",
  num_items: 5,
  show_text: true
} %>
