<tr>
  <td>icon</td>
  <td>Allows for configurations for an and its placement to be provided.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>link</td>
  <td>This sets the `href` for the link.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>method</td>
  <td>Allows for configuration for custom link methods</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>no_active</td>
  <td>When enabled, this will remove the active link styles for the current page's link.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>text</td>
  <td>The text for the link.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>type</td>
  <td>Setting the link to the "sub" creates a submenu link.</td>
  <td>String: [ "sub" ]</td>
  <td>null</td>
</tr>
