<tr>
  <td><pre>has_back_icon</pre></td>
  <td>Whether or not to show the back icon before the first item.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td><pre>is_progressbar</pre></td>
  <td>Whether or not to show the breadcrumbs in a progress like fashion.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td><pre>items</pre></td>
  <td>The set of items to display.</td>
  <td>Array of items following schema</td>
  <td>
    <strong>Schema:</strong>
    <pre>
{
  url: {string},
  text: {string},
  is_current: {boolean},
}
    </pre>  
  </td>
</tr>
