<h3 class="t-sage-heading-6">Initial State</h3>
<%= render "examples/objects/upload_card/markup" %>

<h3 class="t-sage-heading-6">Selected File State</h3>
<%= render "examples/objects/upload_card/markup",
  file_selected: true
%>

<h3 class="t-sage-heading-6">Error State</h3>
<%= render "examples/objects/upload_card/markup",
  errors: [
    "Your file is too large."
  ]
%>
