# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f0151096e822efad584fdc7642c974675a1f94275f49db267c0eaaee7b325dd9cfa96aea7eca8e017f3ed7ae9388a310b0afb6934f51cffb18965ce9ba2797ca

test:
  secret_key_base: aafdddfb351373880458986dfdbacf6c4d415d547eb225ddfc4fd980bb4e4090103aad257964455a2341a2a0121d362984bcf0cc84ce7da960b590c2806fd79b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
