/* ==================================================
  ** lists
  type: element

================================================== */

.sage-list {
  padding-left: 0;
  list-style: none;

  &:not(.sage-list--inline-compact):not(.sage-list--inline-fit-compact) {
    margin-right: -1 * sage-spacing(sm);
    margin-left: -1 * sage-spacing(sm);

    > li {
      margin-right: sage-spacing(sm);
      margin-left: sage-spacing(sm);
    }
  }
}

.sage-list--inline,
.sage-list--inline-compact {
  display: flex;
  flex-flow: row wrap;
}

.sage-list--inline-fit,
.sage-list--inline-fit-compact {
  display: flex;
  
  @media (max-width: 767px) {
    flex-flow: row wrap;
  }
  
  @media (min-width: 768px) {
    flex-flow: row nowrap;
  }
}
