/* ==================================================
  ** meter
  type: element

================================================== */

$-meter-bar-height: rem(4px);
$-meter-color-bg: sage-color(grey, 200);
$-meter-bar-low: rgba(sage-color(red), 0.9);
$-meter-bar-med: rgba(sage-color(orange), 0.9);
$-meter-bar-success: rgba(sage-color(sage, 200), 0.9);
$-meter-bar-max: rgba(sage-color(sage), 0.9);
$-meter-bar-divider-color: sage-color(white);

@mixin meter-bar-reset {
  height: $-meter-bar-height;
  width: 100%;
  background: $-meter-color-bg;
  border: 0;
}


@mixin meter-bar-value {
  &::-webkit-meter-optimum-value {
    @content;
  }
  &::-moz-meter-bar {
    @content;
  }
}

.sage-meter {
  position: relative;
}

.sage-meter__label,
.sage-meter__description {
  @extend %t-sage-body-xsmall;
}

.sage-meter__description {
  margin: 0;
}

.sage-meter__bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: $-meter-bar-height;
  background: $-meter-color-bg;
  border-radius: sage-border(radius);
  border: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: $-meter-bar-height;
    background: linear-gradient(
      to left,
      transparent 25%,
      $-meter-bar-divider-color 25%,
      $-meter-bar-divider-color 27.5%,
      transparent 27.5%,
      transparent 50%,
      $-meter-bar-divider-color 50%,
      $-meter-bar-divider-color 52.5%,
      transparent 52.5%,
      transparent 75%,
      $-meter-bar-divider-color 75%,
      $-meter-bar-divider-color 77.5%,
      transparent 77.5%
    );
  }

  &::-moz-meter-bar {
    @include meter-bar-reset();
  }
  &::-webkit-meter-bar {
    @include meter-bar-reset();
  }

  @include meter-bar-value() {
    background: none;
    transition: $sage-transition;
    transition-property: width;
  }
}

.sage-meter__bar--low {
  @include meter-bar-value() {
    background-color: $-meter-bar-low;
  }
}

.sage-meter__bar--med {
  @include meter-bar-value() {
    background-color: $-meter-bar-med;
  }
}

.sage-meter__bar--optimum {
  @include meter-bar-value() {
    background-color: $-meter-bar-success;
  }
}

.sage-meter__bar--max {
  @include meter-bar-value() {
    background-color: $-meter-bar-max;
  }
}
