/* ==================================================
  ** search
  type: element

================================================== */


$-search-icon: "::before";
$-search-focus-line: "::after";

.sage-search {
  position: relative;
  border-bottom: 1px solid sage-color(grey, 300);

  &#{$-search-icon} {
    @include sage-icon-base(search-small, xl);
    position: absolute;
    top: rem(11px);
    left: sage-spacing(sm);
    z-index: 2;
    color: sage-color(charcoal, 100);
    transition: $sage-transition;
    transition-property: color;
  }

  &#{$-search-focus-line} {
    content: "";
    display: block;
    position: absolute;
    bottom: rem(-1px);
    left: 50%;
    right: 50%;
    z-index: 3;
    height: 0;
    border-bottom: rem(2px) solid sage-color(primary);
    transition: $sage-transition;
    transition-property: left, right, opacity;
  }

  &:focus-within {
    &#{$-search-icon} {
      color: sage-color(primary);
    }

    &#{$-search-focus-line} {
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}

.sage-search__input {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: rem(9px) sage-spacing(sm) rem(9px) sage-spacing(xl);
  border: 0;
  
  @extend %t-sage-body;

  @include placeholder {
    color: sage-color(charcoal, 100);
  }

  &:focus {
    outline: 0;
  }
}

