/* ==================================================
  ** sage_table
  type: element

================================================== */

$-sage-table-row-color-stripe: sage-color(grey, 100);
$-sage-table-row-color-hover: sage-color(grey, 200);
$-sage-table-cell-focus: sage-color(charcoal);
$-sage-table-cell-truncate-width: 6.5em;
$-sage-table-sort-indicator-width: rem(5px);
$-sage-table-sort-indicator-direction: rem(7px);

.sage-table {
  --table-cell-padding: #{$sage-table-cell-padding-sm};
  --table-heading-padding: #{$sage-table-heading-padding-sm};

  width: 100%;
  max-width: $sage-table-max-width;

  caption {
    @extend #{$sage-table-caption-font-size};
    text-align: $sage-table-caption-alignment;
  }

  thead,
  tfoot {
    color: $sage-table-heading-font-color;
    border-bottom: $sage-table-border;

    td,
    th {
      @extend #{$sage-table-heading-font-size};

      padding: $sage-table-heading-padding-sm;
      padding: var(--table-heading-padding);
    }

    td:first-child,
    th:first-child {
      padding-left: sage-spacing(sm) / 2;
    }

    td:last-child,
    th:last-child {
      padding-right: sage-spacing(sm) / 2;
    }
  }

  tbody {
    color: $sage-table-cell-font-color;

    tr {
      border-bottom: $sage-table-border;
    }
  }

  td {
    @extend #{$sage-table-cell-font-size};

    padding: $sage-table-cell-padding-sm;
    padding: var(--table-cell-padding);
    color: inherit;

    &:first-child {
      padding-left: sage-spacing(sm) / 2;
    }

    &:last-child {
      padding-right: sage-spacing(sm) / 2;
    }
  }

  @media screen and (min-width: sage-breakpoint(md-min)) {
    --table-cell-padding: #{$sage-table-cell-padding-lg};
    --table-heading-padding: #{$sage-table-heading-padding-lg};
  }
}

// Decreased vertical padding
.sage-table--condensed {
  thead,
  tfoot,
  tbody {
    td,
    th {
      padding-top: $sage-table-cell-padding-xs;
      padding-bottom: $sage-table-cell-padding-xs;
    }
  }
}


// Alternating rows of striped colors
.sage-table--striped {
  tbody {
    tr:nth-child(odd) {
      background-color: $-sage-table-row-color-stripe;
    }
  }
}


// Sortable rows
.sage-table--sortable {
  .sage-table__sort {
    display: flex;
    align-items: center;
    color: inherit;
    transition: $sage-transition;
    transition-property: color;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      flex: 0 1 $-sage-table-sort-indicator-width;
      transform-origin: center center;
      height: 0;
      width: 0;
      margin-left: sage-spacing(2xs);
      border-left: $-sage-table-sort-indicator-width solid transparent;
      border-right: $-sage-table-sort-indicator-width solid transparent;
      transition: 0.15s ease-out;
      transition-property: opacity, transform;
      opacity: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: sage-color(charcoal, 300);
    }

    &:focus,
    &:active {
      outline: 1px dotted sage-color(charcoal, 100);
    }
  }

  .sage-table__sort--selected {
    color: sage-color(charcoal, 100);
    text-decoration: underline;

    &::after {
      border-top: $-sage-table-sort-indicator-direction solid currentColor;
      opacity: 1;
    }
  }

  .sage-table__sort--ascending {
    &::after {
      transform: scaleY(-1);
    }
  }
}


// Selectable rows with checkbox or radio inputs
.sage-table--selectable {
  .sage-row--selectable,
  .sage-row--selectable:nth-child(odd) {
    transition: $sage-transition;
    transition-property: background;

    &:hover,
    &:focus,
    &:active {
      background-color: $-sage-table-row-color-hover;
    }

    &:focus-within {
      background-color: $-sage-table-row-color-hover;
    }
  }
}


// Wrapper div required for responsive tables
.sage-table-wrapper {
  position: relative;
}

// Allows overflow scrolling when content exceeds container width
.sage-table-wrapper__overflow {
  overflow: hidden;
  overflow-x: auto;
  padding-right: ($sage-table-overflow-indicator-width / 2);
  -webkit-overflow-scrolling: touch;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $sage-table-overflow-indicator-width;
    background: $sage-table-overflow-indicator-gradient;
  }
}


// Text overflow treatment in individual cells
.sage-table-cell--truncate {
  overflow: hidden;
  max-width: $-sage-table-cell-truncate-width;
  white-space: nowrap;
  text-overflow: ellipsis;
}


// Stacked block content within cells
.sage-table-cell__block {
  display: flex;
  flex-direction: column;
  color: inherit;
}

.sage-table-cell__heading,
.sage-table-cell__body {
  display: inline-flex;
  align-items: center;
}

.sage-table-cell__title {
  font-weight: sage-font-weight(semibold);
}

.sage-table-cell__body {
  margin-top: sage-spacing(2xs);
}

.sage-table-cell__link {
  color: inherit;

  &:focus,
  &:active {
    text-decoration: underline;
    outline: none;
  }

  &:focus-visible {
    outline: 1px dotted $-sage-table-cell-focus;
    outline-offset: 1px;
  }

  .sage-table-cell--truncate & {
    display: inline;
  }
}

.sage-table-cell__label {
  .sage-table-cell__block &,
  .sage-table-cell__link & {
    margin-left: 0.5em;
  }
}
