<% @attributes.map do | attr | %>
  <tr>
    <td><%%= md('`<%= attr.name %>`') %></td>
    <td><%%= md('The description of `<%= attr.name %>` goes here.') %></td>
    <td><%%= md('`String`') %></td>
    <td><%%= md('`nil`') %></td>
  </tr>
<% end %>
