.sage-container {
  width: 100%;
  margin: 0 auto;

  &:not([class*="sage-container--"]) {
    max-width: sage-container(fluid);
  }
}

@each $-name, $-size in $sage-containers {
  .sage-container--#{$-name} {
    max-width: sage-container($-name);
  }
}
