<div class="sage-panel">
  <% if defined?(header) %>
    <div class="sage-panel__header"><%= header.html_safe %></div>
  <% end %>
  <%= body.html_safe %>
  <% if defined?(footer) %>
    <div class="sage-panel__footer"><%= footer.html_safe %></div>
  <% end %>
</div>
