<%= sage_component SagePageHeading, {
  title: "Page Title",
} do %>
    <% content_for :sage_page_heading_intro do %>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dolorum esse modi ut ipsa corporis.</p>
    <% end %>
<% end %>
