<%= sage_component SagePageHeading, {
  title: "Page Title",
  help_title: "About This Cool Thing",
  help_html: "<p class=\"t-sage-body-small\">This is a block of content.</p>",
  help_link: {
    href: "#",
    name: "Learn more about cool things"
  },
} %>
