<tr>
  <td>type</td>
  <td>Labels use a <code>--type</code> modifier to change the default color set to the provided type. For example, <code>sage-label--success</code> sets the text color and background color to the matching color palette.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>subtle</td>
  <td>An additional <code>sage-label-subtle</code> class can be applied to remove the solid background color and provide a 1px border. Should also be used in tandem with the <code>type</code> to set the different color palettes.</td>
  <td>String</td>
  <td>null</td>
</tr>
