<ul>
  <li>The input helper expects a surrounding <code>sage-input-group</code>, which helps position the window's appearance</li>
  <li>Be sure to match the <code>helper_target</code> with the intended input's ID to make use of the password strength functions</li>
</ul>
