/* ==================================================
  ** _quick_links.scss

  For Sage documentation use
================================================== */

$-quick-links-color-text: sage-color(charcoal, 400);
$-quick-links-color-focus: sage-color(primary);
$-quick-links-color-background: sage-color(primary, 400);

.quick-links {
  position: sticky;
  top: 0;
  padding: 0 sage-spacing();
}

.quick-links__body {
  margin: 0;
  padding: 0;
  @extend %t-sage-body-small;
}

.quick-links__item {
  list-style: none;

  &:not(:last-child) {
    margin-bottom: sage-spacing(2xs);
  }
}

.quick-links__link {
  display: flex;
  align-items: center;
  margin-bottom: rem(2px);
  padding: sage-spacing(2xs) sage-spacing(xs);
  color: $-quick-links-color-text;
  border-radius: sage-border(radius);
  transition: $sage-transition;
  transition-property: background, box-shadow;

  &:hover {
    background: rgba($-quick-links-color-background, 0.03);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px $-quick-links-color-focus;
    outline: none;
  }

  &:active {
    background: rgba($-quick-links-color-background, 0.12);
  }
}

.quick-links__link--secondary {
  margin-left: sage-spacing(sm);
}

.quick-links__title {
  @extend %t-sage-heading-6;
  margin: sage-spacing(2xs) 0 sage-spacing(xs);
}

.quick-links__subhead {
  margin: sage-spacing(sm) 0 sage-spacing(2xs);
  @extend %t-sage-body-small-med;
}
