<h3 class="t-sage-heading-6">Default</h3>

<%= sage_component SageImageCard, {
  image: "/assets/card-placeholder-sm.png", 
  title: "Yoga for Mindfulness: Session 1",
  link: {
    href: "#",
    value: "View More",
  },
} do %>
  <h4>Additional information</h4>
  <p>
    This is a copy block. &#183; Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nullam quis pretium massa. Maecenas posuere sapien in metus
    fermentum posuere.
  </p>
<% end %>
