<h3 class="t-sage-heading-6">Default</h3>

<%= sage_component SageImageCard, {
  image: "/assets/card-placeholder-sm.png", 
  title: "Flow & Let Go - 1:1 Yoga Class",
  link: {
    href: "#",
    value: "View More",
  },
} do %>
  <h4 class="sage-spacer-bottom-xs t-sage--color-charcoal-400">Aditi Shah</h4>
  <p class="sage-spacer-bottom t-sage--color-charcoal-200">
    One-off Session &#8901; 1 hour each
  </p>
<% end %>
