<div class="sage-row">
  <div class="sage-col--md-6 example__block--lg">
    <%= render "examples/elements/loader/markup",
      loader_type: "bar"
    %>
  </div>
  <div class="sage-col--md-6 example__block--lg">
    <%= render "examples/elements/loader/markup",
      loader_type: "spinner"
    %>
  </div>
</div>
