<tr>
  <td>data-loading</td>
  <td>Determines visibility. Loader will not display/animate unless this value is set to "true"</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>loader_type</td>
  <td>Determines which loader will be used. We currently support a type of "bar" and "spinner"</td>
  <td>String</td>
  <td>null</td>
</tr>
