<ul>
  <li>Toggle the loader's active state using the "data-loading" attribute</li>
  <li>Take note that by design, a "reduced motion" <a href="https://web.dev/prefers-reduced-motion/" rel="nofollow">OS-level setting</a> will prevent either loader from appearing</li>
</ul>
