<div class="sage-icon-card sage-icon-card--<%= color %><%= "-#{style}" if defined?(style) %>" aria-hidden="true" role="presentation">
  <i class="sage-icon-<%= icon %>-3xl t-sage-color-<%= color %>" aria-hidden="true"></i>
</div>
