<%
colors = [
  "draft",
  "success",
  "info",
  "warning",
  "danger"
]
%>

<h3 class="t-sage-heading-6">Regular Cards</h3>
<div class="sage-row">
  <% colors.each do | color | %>
    <div class="sage-col-2">
      <%= render "examples/elements/icon_card/markup", 
        color: color,
        icon: "file"
      %>
    </div>
  <% end %>
</div>

<h3 class="t-sage-heading-6">Subtle Cards</h3>
<div class="sage-row">
  <% colors.each do | color | %>
    <div class="sage-col-2">
      <%= render "examples/elements/icon_card/markup", 
        color: color,
        icon: "file",
        style: "subtle"
      %>
    </div>
  <% end %>
</div>

<h3 class="t-sage-heading-6">Bold Cards</h3>
<div class="sage-row">
  <% colors.each do | color | %>
    <div class="sage-col-2">
      <%= render "examples/elements/icon_card/markup", 
        color: color,
        icon: "file",
        style: "bold"
      %>
    </div>
  <% end %>
</div>
