<div class="sage-row">
  <% [
  "draft",
  "published",
  "info",
  "warning",
  "danger"
].each do | color | %>
    <div class="sage-col-2">
      <%= sage_component SageIconCard, { 
        color: color,
        icon: "file",
        label: "File graphic"
      } %>
    </div>
  <% end %>
</div>
