<tr>
  <td>Color</td>
  <td>The color set to use for the foreground and background colors of the card. Options include <code>draft</code>, <code>info</code>, <code>success</code>, <code>warning</code>, and <code>danger</code>.</td>
  <td>String</td>
  <td><code>draft</code></td>
</tr>
<tr>
  <td>Style</td>
  <td>The style used to render color combinations. Default is a soft background with bolder foreground. Other options include <code>subtle</code> (softer background and text), and <code>bold</code> (bright background with white foreground).</td>
  <td>String</td>
  <td>(default)</td>
</tr>