<h3>Default</h3>
<%= sage_component SageChartLegend, {
  items: [
    {
      title: 'Last year',
      color: SageTokens::COLOR_PALETTE[:YELLOW_300],
    },
    {
      title: 'This year',
      color: SageTokens::COLOR_PALETTE[:SAGE_200],
    }
  ]
} %>
