<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('Items to show in the legend') %></td>
  <td><%= md('```
Array<{
  title: String,
  color: String (Hex value),
}>
```') %></td>
  <td><%= md('Required') %></td>
</tr>
