<h3>Default</h3>
<% cn = sage_classnames({
  align: "right",
  color: "charcoal-100",
  type_spec: "body-sm",
}) %>
<%= sage_component SageClassnamesTest, {} do %>
  <h1 class="<%= cn %>" style="margin-bottom: 20px;">Hello, world</h1>
  <p><%= cn %></p>
<% end %>
