<h3>Default</h3>
<% cn = sage_classnames({
  align: "center",
  color: "red",
  spacer: ["bottom", "top-sm"],
  text_modifier: ["strikethrough", "truncate"],
  type_spec: "heading-1",
}) %>
<%= sage_component SageClassnamesTest, {} do %>
  <h1 class="<%= cn %>">Hello, world</h1>
  <p><%= cn %></p>
<% end %>
