<tr>
  <td>title</td>
  <td>The "title" or term for the element.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>data</td>
  <td>The "data" or description for the element.</td>
  <td>String</td>
  <td>null</td>
</tr>
