<%= md("
- Remember to check that the `id` of the input and the label's `for` attribute match
- Radio button switches <a href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio#data_representation_of_a_radio_group' target='_blank' rel='noopener'>each must have a unique `value`</a> to accurately represent the selection
", use_sage_type: true) %>
