<tr>
  <td><%= md('`title_tag`') %></td>
  <td><%= md('Sets the heading tag (`h1` - `h6`) for the Form Section\'s header tag.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`h5`') %></td>
</tr>
