<tr>
  <td><code>.sage-banner--active</code></td>
  <td>This class enables the banner, and through the associated script adjusts the page body to compensate.</td>
  <td>String</td>
  <td>null</td>
</tr>
