<tr>
  <td><%= md('`.sage-banner--active`') %></td>
  <td><%= md('This class enables the banner, and through the associated script adjusts the page body to compensate.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
