<ul>
  <li><%= md("Don't include a `type_spec` property for a heading if it matches the tag. For example, if you set the `tag` to 'h1', don't set the `type_spec` to 'heading-1'. This is redundant and the component is smart enough to handle adding that class.") %></li>
</ul>
