<ul>
  <li><%= md("Use the `type_spec` property when semantics differ from visual design. For example, if you need an `h2` but the design is styled like a type spec 'heading-3', use `tag: 'h2'` and `type_spec: heading-3`.") %></li>
</ul>
