/* ==================================================
  ** _z_index.scss

  Z-index system
================================================== */

@function sage-z-index($key: default, $increment: 0) {
  $value: map-get($sage-z-indexes, $key);
  @return $value + $increment;
}

$sage-z-indexes: (
  negative: -1,
  default: 0,
  raised: 1000,
  alert: 2000,
  underlay: 3000,
  nav: 4000,
  overlay: 5000,
  modal: 6000,
  priority: 8000,
  nuclear: 9000
);
