<div class="sage-alert<%= color != "" ? " sage-alert--#{color}" : "" %>">
  <i class="sage-alert__icon <%= sage_icon_name %>" aria-hidden="true"></i>
  <div class="sage-alert__copy">
    <h3 class="sage-alert__title"><%= sage_alert_title %></h3>
    <p class="sage-alert__desc"><%= sage_alert_desc %></p>
    <% if dismissible %>
    <button type="button" class="sage-alert__close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% end %>
  </div>
</div>