<div class="example__wrapper">
  <iframe
    allowfullscreen
    loading="lazy"
    style="border: 1px solid rgba(0, 0, 0, 0.1);"
    height="450"
    class="docs-iframe"
    src="<%= figma_embed %>"
    title="Figma design file for <%= title %> component">
  </iframe>
</div>
