<div class="example__wrapper">
  <iframe
    allowfullscreen
    style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="450"
    src="<%= figma_embed %>"
    title="Figma design file for <%= title %> component">
  </iframe>
</div>
