<%= content_for :heading do %>
  <div class="docs-heading">

    <%= sage_component SageType, {
      tag: "h1",
      content: @title.titleize
    } %>

    <%= sage_component SageType, {
      tag: "p",
      type_spec: "HEADING_4",
      weight: "med",
      content: info_content[:description],
      css_classes: "docs-heading__lead"
    } %>

  </div>
<% end %>
