<div class="sage-panel">
  <div class="sage-panel__header">
    <h2 id="<%= title %>-example-preview" class="sage-panel__title">Preview</h2>
  </div>
  <div class="sage-type">
    <%= render "examples/#{type.pluralize}/#{title}/preview" %>
  </div>
</div>
