<%= sage_component SagePanelHeader, {} do %>
  <h2 id="<%= title %>-example-preview">Preview</h2>
<% end %>
<%= sage_component SageCard, {} do %>
  <%= render "examples/#{type.pluralize}/#{title}/preview" %>
<% end %>
