<% if props_content.present? %>
<div class="sage-panel">
  <div class="sage-panel__header">
    <h2 id="<%= @title %>-example-props" class="sage-panel__title">Properties</h2>
  </div>
  <div class="sage-table-wrapper">
    <div class="sage-table-wrapper__overflow">
      <table class="sage-table sage-table--properties">
        <thead>
          <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <%= props_content %>
      </table>
    </div>
  </div>
</div>
<% end %>
