<ul>
  <li>
    <p>
    <%= md('Directing users to a new page or different part within the same page. Instead, use a <a href="link">Link</a>.') %>
    </p>
  </li>
  <li>
    <p>When space is limited consider an icon only button.</p>
  </li>
</ul>
