<ul>
  <li>
    <p>Communicating an action that will occur. (e.g. saving a page).</p>
  </li>
  <li>
    <p>Triggering or enabling an action, such as submitting requested information. (e.g. forms).</p>
  </li>
  <li>
    <p>Progressing or regressing a user through a step in a flow. (e.g. modals)</p>
  </li>
</ul>
