<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('
    An array of items to create a an icon list.
  ') %></td>
  <td><%= md('```
Array<{
  bullet: String,
  bullet_type: String,
  body: String
}>
') %></td>
  <td><%= md('`null`') %></td>
</tr>
