<h3 class="t-sage-heading-6">Page level tabs</h3>
<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
      navigational: true,
      items: [
        {
          text: "Outline",
          attributes: {
            href: "//example.com/basic-test1",
          },
          active: true
        },
        {
          text: "Customize",
          attributes: {
            href: "//example.com/basic-test2"
          },
        },
        {
          text: "Offers",
          attributes: {
            href: "//example.com/basic-test3"
          },
        },
        {
          text: "Members (300)",
          attributes: {
            href: "//example.com/basic-test3"
          },
        },
        {
          text: "Settings",
          attributes: {
            href: "//example.com/basic-test3"
          },
        },
      ]
    }
  %>

<h3 class="t-sage-heading-6">With icons</h3>
<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
      navigational: true,
      items: [
        {
          text: "Manage Comments",
          attributes: {
            href: "//example.com/basic-test1",
          },
          active: true,
          icon: "comment"
        },
        {
          text: "Sorting",
          attributes: {
            href: "//example.com/basic-test2"
          },
          icon: "filter"
        },
      ]
    }
  %>


<h3 class="t-sage-heading-6">With background</h3>
<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
      id: "nav-tabs-example",
      with_background: true,
      items: [
        {
          text: "Sun",
          attributes: {
            href: "//example.com/basic-test1",
          },
        },
        {
          text: "Mon",
          attributes: {
            href: "//example.com/basic-test2"
          },
          active: true
        },
        {
          text: "Tues",
          attributes: {
            href: "//example.com/basic-test3"
          },
        },
        {
          text: "Wed",
          attributes: {
            href: "//example.com/basic-test2"
          },
        },
        {
          text: "Thurs",
          attributes: {
            href: "//example.com/basic-test2"
          },
        },
        {
          text: "Fri",
          attributes: {
            href: "//example.com/basic-test2"
          },
        },
        {
          text: "Sat",
          attributes: {
            href: "//example.com/basic-test2"
          },
        },
      ]
    }
  %>

<h3 class="t-sage-heading-6">Filter style</h3>
<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
    id: "filter-tabs-example",
    style: "filter",
    items: [
      {
        text: "Current",
        attributes: {
          href: "//example.com/basic-test1",
        },
      },
      {
        text: "Past",
        attributes: {
          href: "//example.com/basic-test2"
        },
        active: true
      },
      {
        text: "All",
        attributes: {
          href: "//example.com/basic-test3"
        },
      },
    ]
  }
%>
