<h3 class="t-sage-heading-6">Initial State</h3>
<%= sage_component SageUploadCard, {
  selection_label: "Select file",
  selection_subtext: "Recommended dimensions or file size requirements",
} %>

<h3 class="t-sage-heading-6">Selected File State</h3>

<%= sage_component SageUploadCard, {
  accepted_files: [
    {name: "contacts.csv"},
  ],
  file_selected: true,
  selection_label: "Edit file",
  selection_subtext: "Recommended dimensions or file size requirements",
} %>

<h3 class="t-sage-heading-6">Error State</h3>

<%= sage_component SageUploadCard, {
  has_error: true,
  selection_label: "Select a file",
  selection_subtext: "Recommended dimensions or file size requirements",
  errors: [
    {text: "This is the error message."},
  ]
} %>

<h3 class="t-sage-heading-6">Selected Error State</h3>

<%= sage_component SageUploadCard, {
  accepted_files: [
    {name: "contacts.csv"},
  ],
  file_selected: true,
  has_error: true,
  selection_label: "Replace file",
  selection_subtext: "Recommended dimensions or file size requirements",
  errors: [
    {text: "This is the error message."},
  ]
} %>