<h3 class="t-sage-heading-6">Usage</h3>
<%= md("
Upload Card lives in kajabi-products in `admin/shared/sage_iamge_upload_card.html.erb`. This is not a drop-in solution as it will require contextual knowledge of the domain and the `filepicker`. The following code snippets displays usage within the context of the Coaching Programs edit view, where `@program` is the designated resource.</p>
") %>

<pre class="prettyprint"><code>
<%%= render "admin/shared/sage_image_upload_card",
  object: @program,
  field: :thumbnail,
  policy: @program.thumbnail_policy,
  convert_options: @program.thumbnail_convert_options,
  extensions: "png,jpg,jpeg",
  select_file_text: "Choose thumbnail",
  replace_file_text: "Replace thumbnail"
 %>
</code></pre>

<h3 class="t-sage-heading-6">Initial State</h3>
<%= sage_component SageUploadCard, {
  selection_label: "Select a file",
  selection_subtext: "Body small, Charcoal 200",
} %>

<h3 class="t-sage-heading-6">Selected File State</h3>

<%= sage_component SageUploadCard, {
  accepted_files: [
    {name: "contacts.csv"},
  ],
  file_selected: true,
  selection_label: "Replace file",
  selection_subtext: "Body small, Charcoal 200",
} %>

<h3 class="t-sage-heading-6">Error State</h3>

<%= sage_component SageUploadCard, {
  has_error: true,
  selection_label: "Select a file",
  selection_subtext: "Body small, Charcoal 200",
  errors: [
    {text: "Body small medium, Red 300 Errors here..."},
  ]
} %>
