<h3 class="t-sage-heading-6">Default</h3>
<%= sage_component SageSearch, {
  id: "search-1",
  placeholder: "Search Products",
  value: nil,
  label_text: "Search"
} %>

<h3 class="t-sage-heading-6">Contained</h3>
<%= sage_component SageSearch, {
  id: "search-2",
  placeholder: "Search Products",
  value: nil,
  contained: true,
  label_text: "Search"
} %>

<h3 class="t-sage-heading-6">Hidden label (label is visually hidden, but still accessible to screenreaders)</h3>
<%= sage_component SageSearch, {
  id: "search-3",
  placeholder: "Search Coupons",
  value: nil,
  contained: true,
  hide_label: true,
  label_text: "Search"
} %>

<h3 class="t-sage-heading-6">Disabled</h3>
<%= sage_component SageSearch, {
  id: "search-4",
  placeholder: "Search Coupons",
  value: nil,
  contained: true,
  label_text: "Search",
  disabled: true,
} %>
