<h3 class="t-sage-heading-6">Single/independent card</h3>
<%= render "examples/objects/expandable_card/markup",
  header: "Header Content",
  body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
%>

<h3 class="t-sage-heading-6">Expandable Card Group</h3>
<ul class="sage-expandable-card-group" data-js-accordion="group-toggle-solo">
  <li class="sage-expandable-card">
    <div class="sage-expandable-card__header" data-js-accordion="header">
      <h4 class="sage-expandable-card__title">Tab 1</h4>
    </div>
    <div class="sage-expandable-card__body sage-type" data-js-accordion="body">
      <p>Lorem ipsum dolor sit</p>
    </div>
  </li>
  <li class="sage-expandable-card">
    <div class="sage-expandable-card__header" data-js-accordion="header">
      <h4 class="sage-expandable-card__title">Tab 2</h4>
    </div>
    <div class="sage-expandable-card__body sage-type" data-js-accordion="body">
      <p>Lorem ipsum dolor sit</p>
    </div>
  </li>
  <li class="sage-expandable-card">
    <div class="sage-expandable-card__header" data-js-accordion="header">
      <h4 class="sage-expandable-card__title">Tab 3</h4>
    </div>
    <div class="sage-expandable-card__body sage-type" data-js-accordion="body">
      <p>Lorem ipsum dolor sit</p>
    </div>
  </li>
</ul>
