<div class="sage-empty-state">
  <h2 class="sage-empty-state__title">Panel heading</h2>
  <p class="sage-empty-state__text">Panel text lorem ipsum dolor sit amut consectituro.</p>
  <button class="sage-btn sage-btn--primary">Action</button>
</div>
