<tr>
  <td><%= md('`align`') %></td>
  <td><%= md('Whether or not the whole block should be set at the Semibold weight, since a number of implementations use this.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
