<tr>
  <td>current</td>
  <td>Pagination uses a <code>--current</code> modifier to visually indicate which page is currently being viewed.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>disabled</td>
  <td>Pagination uses a <code>--disabled</code> modifier to disable a link to prevent navigation. For example, when a user has reached the last page, the Next link should be disabled since there are no other pages/results to navigate to.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>gap</td>
  <td>When there are many pages, a <code>--gap</code> modifier along with an ellipsis (&hellip;) can be used to truncate the pagination list items. Should be used in conjunction with <code>sage-pagination__page</code></td>
  <td>String</td>
  <td>null</td>
</tr>
