<h3 class="t-sage-heading-6">Icon Card</h3>
<div class="sage-row">
  <% SageTokens::STATUSES.each do | color | %>
    <div class="sage-col-2">
      <%= sage_component SageIconCard, {
        color: color,
        icon: "file",
        label: "File graphic"
      } %>
    </div>
  <% end %>
</div>
<h3 class="t-sage-heading-6">Icon Card with custom <code>background_color</code> and <code>foreground_color</code></h3>
<div class="sage-row">
  <% [
  { background_color: "#A463F2", foreground_color: "#9EEBCF" },
  { background_color: "#9EEBCF", foreground_color: "#FF41B4" },
  { background_color: "#FF41B4", foreground_color: "#FBF1A9" },
  { background_color: "#FBF1A9", foreground_color: "#001B44" },
  { background_color: "#001B44", foreground_color: "#A463F2" },
].each do | color | %>
    <div class="sage-col-2">
      <%= sage_component SageIconCard, {
        background_color: color[:background_color],
        foreground_color: color[:foreground_color],
        icon: "customize",
        label: "Custom color"
      } %>
    </div>
  <% end %>
</div>

<h3 class="t-sage-heading-6">Icon Card - round</h3>
<div class="sage-row">
  <% SageTokens::STATUSES.each do | color | %>
    <div class="sage-col-2">
      <%= sage_component SageIconCard, {
        color: color,
        icon: "file",
        label: "File graphic",
        round: true
      } %>
    </div>
  <% end %>
</div>
