<div class="docs-container">
  <div class="sage-media">
    <div class="sage-media-body">
      <h2 id="<%= title %>" class="t-sage-heading-2 example__title"><%= title.titleize %></h2>
    </div>
  </div>

  <h3 class="t-sage-heading-6 example__label">Code</h3>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code><%= CGI.unescapeHTML(CGI.escapeHTML render "examples/utilities/#{title}/preview") %></code></pre>
  </div>
</div>
