<tr>
  <td>ID</td>
  <td>Unique identifier for this input field. Should match the "for" property on the corresponding label</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Placeholder</td>
  <td>Inserts content to be displayed inside a default (empty) field</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Required</td>
  <td>Adding this attribute allows basic HTML form validation on this field</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Inputmode</td>
  <td>Hints at the type of data to be entered. Primarily intended for mobile devices, this can influence the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode" rel="nofollow">type of control displayed</a>, for example a numeric input keypad instead of a standard text keyboard.</td>
  <td>String</td>
  <td>null</td>
</tr>
