<ul>
  <li>Use of text inputs without a corresponding label is possible, but <strong>not recommended</strong></li>
  <li>Make sure that the label element follows the input in the HTML</li>
  <li>Use <strong>unique</strong> ID and name values for each field</li>
  <li>Match the placeholder and label text precisely, or the "floating label" effect may appear jarring</li>
  <li>Take advantage of <a href="https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation" rel="nofollow">HTML client-side validation</a> for basic fields &ndash; baked-in with most browsers</li>
</ul>
