<ul>
  <li>Placeholders are <strong>not</strong> intended for detailed instructions &ndash; make use of adjacent text instead</li>
  <li>Do not rely on HTML client-side validation when complex and/or secure requirements are involved, such as password validation and generation</li>
  <li><code>title</code> attributes are discouraged for use in input fields, as they <a href="https://a11yproject.com/posts/title-attributes/" rel="nofollow">are not consistently accessible</a> for assistive technology users.</li>
</ul>
