<div class="sage-data-card<%= " sage-data-card--#{color}" if defined?(color) %>">
  <div class="sage-data-card__header">
    <h4 class="sage-data-card__title">
      <%= title.html_safe if defined?(title) %>
    </h4>
    <% if defined?(header_aside) %>
      <%= header_aside.html_safe %>
    <% end %>
  </div>
  <div class="sage-data-card__body">
    <%= body.html_safe %>
  </div>
</div>
