<div class="colors">
  <% if color == "primary" || color == "sage" || color == "orange" %>
    <% [100, 200, 300, 400, 500].each do |value| %>
      <%= render "color_values_body", color: color, value: value %>
    <% end %>
  <% else %>
    <% [5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 95].each do |value| %>
      <%= render "color_values_body", color: color, value: value %>
    <% end %>
  <% end %>
</div>
