<div class="colors">
  <% if color == "primary" || color == "sage" || color == "orange" %>
    <% [100, 200, 300, 400, 500].each do |value| %>
      <%= render "color_values_body", color: color, value: value %>
    <% end %>
  <% else %>
    <% ["050", 100, 200, 300, 400, 500, 600, 700, 800, 950].each do |value| %>
      <%= render "color_values_body", color: color, value: value %>
    <% end %>
  <% end %>
</div>
