<% if @stub == "test" %>
  <h1>Test Page</h1>
  <p>This is the fallback (default) page.</p>
<% end %>

<% if @stub == "test2" %>
  <h1>Test Page 2</h1>
  <p>This is a test page.</p>
<% end %>

<% if @stub == "test3" %>
  <h1>Test Page 3</h1>
  <p>This is a test page.</p>
<% end %>
