<%= content_for :heading do %>
<%= md(%(
# Content Strategy
<p class="docs-heading__lead">Our content standards will help you understand how to think strategically about the language in your products and apps. They’ll also give you clear, tactical suggestions designed to help you use language to craft better experiences.</p>
)) %>
<% end %>

<%= md("
### Speak To Their Needs

Not everyone is a confident writer, but everyone can improve their content by making sure it responds to the needs of our customers. Keep in mind that real people rely on Kajabi every day to run their businesses. The product, feature, or app you’re building can make a big difference to the people using it. Take some time to learn about who they are, what they need, and the language they use.

### Keep It Simple

Kajabi customers are busy people who may be running their online business in addition to many other things going on in their life. They’re also located all over the world and have varying levels of literacy. Some may not speak English as their first language.Some content can be translated poorly and can be misinterpreted.

Keeping it simple doesn’t mean dumbing content down. It’s about making sure language is straightforward and communicates concepts as efficiently as possible. Our goal is to communicate but stay out of the way.

### Advance The User

People use Kajabi to get things done but the task of creating an online business can be very daunting. Content should be written and structured to help merchants understand the most important actions and encourage them to take them.

### Be consistent

Remember your content is just one piece of the whole picture so make sure that the language you are using matches the rest of the language being used in the app. We want the user to read what you have to say and feel like they have heard you talk to them before.

", use_sage_type: true) %>