<%= content_for :heading do %>
<%= md(%(
# Design Principles
<p class="docs-heading__lead">These principles reflect our design philosophy and inspire our team to shape an experience that enables Knowledge Commerce businesses of any scale to achieve their goals without the frustrations of technology getting in the way.</p>
)) %>
<% end %>
<iframe style="width: 100%" width="800" height="550" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FQzx88qw4s29HWoGHSofezg%2FUX-Design-Principles%3Fnode-id%3D1%253A2%26viewport%3D185%252C669%252C0.16706444323062897%26scaling%3Dcontain" allowfullscreen></iframe>