<%= content_for :heading do %>
<h1>Panels and Cards</h1>
<p>
  Panels and Cards are the two most common ways designers and engineers can group content within Sage.
</p>
<% end %>
<p>Details coming soon!</p>
