<%= content_for :heading do %>
<%= md("
# Sandbox

Use this scratchpad to test out elements and components in context. Just be sure not to commit your changes. ❤️
") %>
<div>
  <%= sage_component SageButton, {
    value: "Click me",
    disable_on_submit: "hey",
    attributes: {
      href: "#",
      rel: "noopener noreferrer",
      title: "Open Sassdocs site"
    },
    style: "primary",
  } %>
</div>
<div>
  <%= sage_component SageButton, {
    value: "SASS Docs",
    attributes: {
      href: "#",
      target: "_blank",
      rel: "noopener noreferrer",
      title: "Open Sassdocs site"
    },
    style: "primary",
  } %>
</div>
<% end %>
