<%= content_for :heading do %>
<%= md("
# Sandbox

Use this scratchpad to test out elements and objects in context. Just be sure not to commit your changes. ❤️
") %>
<% end %>

<%= sage_component SagePanel, {} do %>
<%= md(%(

Some ERB:

```erb
\<\%\= sage_component SagePanelHeader, { title: "Hello, world!" } \%\>
```

Some HTML:

```html
<div class="sage-type">
  <h1 id="hello">Hello</h1>
  <p data-js-attr="green">World</p>
</div>
```

Some CSS:

```css
h2 {
  content: "";
  text-align: center;
}

.sage-type {
  color: red;
}
```

Some JS:

```jsx
import React from 'react';

const House = ({ children, title }) => {

  return (
    <div className="sage-type">
      <h1 id="hello">Text</h1>
      <p dataJsAttr="green">World</p>
    </div>
  );
};

export default House;
```

Some Ruby:

```rb
module MarkdownHelper
  require "redcarpet"
  require "rouge"
  require "rouge/plugins/redcarpet"

  class HTML < Redcarpet::Render::HTML
    include Rouge::Plugins::Redcarpet
  end
end
```
), use_sage_type: true) %>
<% end %>
