<%= content_for :heading do %>
<%= md("
# Sandbox

Use this scratchpad to test out elements and components in context. Just be sure not to commit your changes. ❤️
") %>
<% end %>

<button type="button" class="
    sage-btn

    sage-btn--subtle



    sage-btn--primary

    sage-btn--icon-only-gear

  ">
    <span class="visually-hidden">
      Icon only
    </span>
</button>

<a class="sage-btn sage-btn--subtle sage-btn--small sage-btn--primary" href="#" onclick="Forethought('widget', 'open'); Forethought('widget', 'show');">
  Live Chat
</a>

<a class="sage-btn sage-btn--subtle sage-btn--small sage-btn--primary" href="#" onclick='zE("webWidget", "show"); zE("webWidget", "toggle");'>
  Live Chat
</a>
