<%= content_for :heading do %>
<%= md(%(
# Support
<p class="docs-heading__lead">Our mission is to empower any team to utilize our design system tools and services. </p>
)) %>
<% end %>

<div class="sage-row">
  <div class="sage-col--lg-6">
    <%= md("
## We â¤ï¸ Slack
We believe in being highly collaborative. Head to our [Slack Support Channel](https://slack.com/app_redirect?channel=C01A424HY8Y) and join the conversation.
", use_sage_type: true) %>
  </div>
  <div class="sage-col--lg-6">
    <%= md("
## Share your feedback ðŸ“
We care about continuously improving. Please share your feedback with us on our [Sage Design System](https://sage.kajabi.com/) or [Sage Design System](https://github.com/Kajabi/sage-lib/) GitHub repository.

", use_sage_type: true) %>
  </div>
</div>
