<%= content_for :heading do %>
<%= md(%(
# Truncation
<p class="docs-heading__lead">Truncation is a wrapper that shortens a string of text when there is overflow.</p>
)) %>
<% end %>

<p class="t-sage-body">Coming Soon</p>
