<%= content_for :heading do %>
<%= md(%(
# Kajabi Experience Values
<p class="docs-heading__lead">We believe that anyone with the grit and determination to begin the journey into Knowledge entrepreneurship will find that Kajabi is the perfect companion to realize their goals no matter the scale. </p>

Being an entrepreneur is an isolating task. Running an online Knowledge business is hard work. The key to your success is who you partner with. Kajabi exists as a powerful, intuitive, and customizable platform capable of running any scale of online knowledge business without the frustrations of technology getting in the way of success.
)) %>
<% end %>
<div class="sage-row">
  <div class="sage-col--md-6 docs-feature">
    <i class="sage-icon-star-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Simple and Intuitive</h3>
    <p class="t-sage-body">The core offering is simple to use and deeply focused on the initial value prop of delivering knowledge content to your customers. </p>
  </div>
  <div class="sage-col--md-6 docs-feature">
    <i class="sage-icon-gear-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Configurable</h3>
    <p class="t-sage-body">The greater offering is a robust ecosystem of functionality to fit every use case you may encounter on your entrepreneurial journey. </p>
  </div>
</div>
<hr>
<div class="sage-row">
  <div class="sage-col--md-6 docs-feature">
    <i class="sage-icon-user-circle-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Personal not prescriptive</h3>
    <p class="t-sage-body">It stays out of the way but it is intuitive, ensuring that when the time comes where you will need a piece of functionality it is easy to find and configure to fit your exact use case. </p>
  </div>
  <div class="sage-col--md-6 docs-feature">
    <i class="sage-icon-stack-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Seamlessly Integrated</h3>
    <p class="t-sage-body">Every piece works perfectly out of the box with one another eliminating  configuration frustrations. It is intentional about allowing the customer to decide what they need to utilize at any given time. </p>
  </div>
</div>
<hr>
<div class="sage-row">
  <div class="sage-col--md-6 docs-feature">
    <i class="sage-icon-mapped-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Highly discoverable</h3>
    <p class="t-sage-body">Should a customer go exploring they will be presented with compelling visions of their future and what the application will be able to do for their business both today and all along their journey.</p>
  </div>
  <div class="sage-col--md-6 docs-feature">
    <i class="sage-icon-conversation-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Opinionated</h3>
    <p class="t-sage-body">We do not hold all pieces of the application's capabilities to be equally important. We are intentional about the way that we guide our users through their customer journey leaning on the best practices that we have seen time and time again with real-life customer success.  </p>
  </div>
</div>
