<%= content_for :heading do %>
<%= md(%(
# Vocabulary
<p class="docs-heading__lead">To ensure consistency it is important that we use the same words, spelling, and definitions to describe our application and our category.</p>
)) %>
<% end %>

<%= content_for :quick_links do %>
  <div class="quick-links">
    <h2 class="quick-links__title">Contents</h2>
    <ul class="quick-links__body">
      <li class="quick-links__item">
        <a href="#the-category" class="quick-links__link">The Category</a>
      </li>
      <li class="quick-links__item">
        <a href="#general-terms" class="quick-links__link">General Terms</a>
      </li>
      <li class="quick-links__item">
        <a href="#commerce" class="quick-links__link">Commerce</a>
      </li>
      <li class="quick-links__item">
        <a href="#web-experience" class="quick-links__link">Web Experience</a>
      </li>
      <li class="quick-links__item">
        <a href="#marketing" class="quick-links__link">Marketing</a>
      </li>
      <li class="quick-links__item">
        <a href="#types-of-people" class="quick-links__link">Types Of People</a>
      </li>
      <li class="quick-links__item">
        <a href="#crm" class="quick-links__link">CRM</a>
      </li>
    </ul>
  </div>
<% end %>

<%= md("
## The Category

<h3 class=\"t-sage-heading-5\">Knowledge Commerce</h3>

The practice of charging customers for access to our knowledge. This could be through an online course, an e-book, a membership site, or any other digital product designed to share knowledge. It's any commercial enterprise that exchanges knowledge for cash.

<h3 class=\"t-sage-heading-5\">Knowledge Entrepreneur</h3>

Our Customers. These are people who have knowledge that others would find valuable and have the grit to build a business around that knowledge. People who aren’t looking for a get-rich-quick scheme, but people who want to put the effort into building an audience, delivering value to that audience, and supporting that audience along their journey. Hereinafter referred to as the Entrepreneur in these guides.

## General Terms

<h3 class=\"t-sage-heading-5\">Account</h3>

The relationship between an Entrepreneur and Kajabi. An Entrepreneur is associated with an account granting them access to the Kajabi Platform, our Partner Program, Kajabi University, and our Official Kajabi Users Facebook group.

<h3 class=\"t-sage-heading-5\">Product</h3>

Any piece of digital content that an Entrepreneur is able to monetize on the platform. This could be an online course, a podcast, a digital download, or even a paid newsletter. A product is not an online course but an online course is a product.

<h3 class=\"t-sage-heading-5\">Member</h3>

The customers of the Entrepreneur, or in other words, our Customers Customer.

<h3 class=\"t-sage-heading-5\">Site</h3>

The bucket that contains all the functionality Kajabi has to offer. An Entrepreneur can have many stores under 1 account and each store is completely unique to one another and does not share any connections to other sites under that same account.

<h3 class=\"t-sage-heading-5\">Theme</h3>

The way that a user delivers their content to their members. Websites, Landing Pages, Products, and Emails all have themes associated with them to control the look and feel that the member experiences.

<h3 class=\"t-sage-heading-5\">User</h3>
An individual who is associated with an account. An account can have many users of different permission levels. A user is not always the account owner.

## Commerce

<h3 class=\"t-sage-heading-5\">Checkout Form</h3>

The actual form that processes payments from members. This form can be found on a checkout page but in the future can be consumed on its own outside the checkout page experience.

<h3 class=\"t-sage-heading-5\">Checkout Page</h3>

The default page is created by the platform automatically when an offer is created. This page houses key pieces of functionality such as the checkout form.

<h3 class=\"t-sage-heading-5\">Offer</h3>

The pricing structure that a product can be associated with. Offers give the flexibility to price and bundle the same product in various ways. An offer can include multiple products and a product can be associated with multiple offers.

<h3 class=\"t-sage-heading-5\">Order Bump</h3>

A checkbox option displays on the Checkout Form giving the customer the option to add an additional offer to their purchase. This offer purchase will be added to the initial total that the user is agreeing to pay at the time of purchase.

<h3 class=\"t-sage-heading-5\">Upsell</h3>

A one-click purchase addition is presented to the member after the initial purchase is complete. This transaction comes thru as an additional sale and the customer chooses to purchase the Upsell will have any effect on the initial purchase.

## Web Experience

<h3 class=\"t-sage-heading-5\">Library</h3>

The initial dashboard that members experience first when they login to their website. All of the products that a customer has access to will display on this initial page.

<h3 class=\"t-sage-heading-5\">Navigation</h3>

A grouping of links that can be embedded in Websites, Landing Pages, and Products. These are created and managed outside the resource they are embedded on to ensure they can be reused as much as needed.

<h3 class=\"t-sage-heading-5\">Website</h3>

The core web experience of the Kajabi platform. The website houses key functionality such as the Library, Login pages, and the Blog.

<h3 class=\"t-sage-heading-5\">Website Page</h3>

A page that lives inside the website experience. These pages all share the same header and footer and code associated with the theme.

## Marketing

<h3 class=\"t-sage-heading-5\">Automation</h3>

A utility tool that utilizes When, Then, If logic to have actions happen in the background without the need of the Entrepreneur to do manually. They can be managed in one centralized place or in the context of what they are controlling.

<h3 class=\"t-sage-heading-5\">Email Broadcast</h3>

An email that is sent to a specific audience of contacts and or members at a specific time. These emails are commonly used for Newsletters, Sales emails, and general updates.

<h3 class=\"t-sage-heading-5\">Email Sequence</h3>

A single email or a series of emails. These emails are sent on trigger-based automation with pre-set time intervals. Email sequences are sent based on a number of days relative to the trigger date.

<h3 class=\"t-sage-heading-5\">Landing Page</h3>

An online webpage that is not directly associated with the website. A landing page shares the same URL structure as the website but everything presented on the page is unique. In this way, it is able to have its own branding and code that does not bleed into the broader website experience.

## Types Of People

<h3 class=\"t-sage-heading-5\">Affiliate</h3>

People who are partners of the Entrepreneur and sell their Products on behalf of the Entrepreneur while receiving a commission from the sale.

<h3 class=\"t-sage-heading-5\">Contact</h3>

People who have opted in or been imported into the Entrepreneurs list but have not yet purchased anything.

<h3 class=\"t-sage-heading-5\">Member</h3>

People who have purchased products from the Entrepreneur.

<h3 class=\"t-sage-heading-5\">Partner</h3>

Entrepreneurs who have chosen to be a part of our company affiliate program and are encouraging others to join Kajabi for a commission.

## CRM

<h3 class=\"t-sage-heading-5\">Filter</h3>

Coming Soon...

<h3 class=\"t-sage-heading-5\">Segment</h3>

Coming Soon...

<h3 class=\"t-sage-heading-5\">Tag</h3>

Coming Soon...

", use_sage_type: true) %>