<tr>
  <td><%= md('`small`') %></td>
  <td><%= md('This component uses the `--small` modifier to change the default
    minimum width of the dropdown menu.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
