<tr>
  <td>ID</td>
  <td>Unique identifier for this input field. Should match the "for" property on the corresponding label</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Placeholder</td>
  <td>Inserts content to be displayed within an empty field</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Required</td>
  <td>Allows basic HTML form validation on this field</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Maxlength</td>
  <td>Limits maximum number of characters allowed</td>
  <td>Integer</td>
  <td>null</td>
</tr>
<tr>
  <td>Minlength</td>
  <td>Requires minimum number of characters allowed</td>
  <td>Integer</td>
  <td>null</td>
</tr>
<tr>
  <td>Rows</td>
  <td>Configures the number of vertical lines visible for this field</td>
  <td>Integer</td>
  <td>null</td>
</tr>
<tr>
  <td>Readonly</td>
  <td>Indicates that this field cannot be modified by the user, but text can be selected, and the contents are still submitted</td>
  <td>Integer</td>
  <td>null</td>
</tr>
