<ul>
  <li>Make sure that the label element follows the textarea in the HTML</li>
  <li>Use unique ID and name values for each textarea</li>
  <li>Match the placeholder and label text for the "floating label" effect</li>
  <li>Make note of <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea" rel="nofollow">all available attributes</a></li>
</ul>
